In [2]:
#libraries needed for scraping and handling data
import requests
import pandas as pd

In [3]:
#API access Sensor.Community
#https://github.com/opendata-stuttgart/meta/wiki/APIs

#this API key gives access to average of all measurements per sensor of the 24 hours
api_24h_mean = 'https://data.sensor.community/static/v2/data.1h.json'

#this API key gives access to average of all measurements per sensor of the last hour.
api_1h_mean = 'https://data.sensor.community/static/v2/data.1h.json'

In [4]:
#response (json) is stored in variable
response24 = requests.get(api_24h_mean).json()
response1 = requests.get(api_1h_mean).json()

In [5]:
#this snippet iterates through the json response, unpacks specified data and saves it in lists

id_list = []
sampling_rate_list = []
timestamp_list = []
location_list = []
sensor_list = []
sensordatavalues_list = []
location_ids = []
latitude = []
longitude = []
altitude = []
country = []
exact_location = []
indoor = []
sensor_ids = []
pin = []
sensor_type_id = []
sensor_type_name = []
sensor_type_manufacturer = []
humiditys = []
temperatures = []
pressures = []
SDS_P1s = []
SDS_P2s = []
P0s = []
P1s = []
P2s = []
P3s = []
P4s = []
N1s = []
N4s = []
N10s = []
N25s = []


for item in response24:
    iD = item['id']
    id_list.append(iD)
    sampling_rate = item['sampling_rate']
    sampling_rate_list.append(sampling_rate)
    timestamp = item['timestamp']
    timestamp_list.append(timestamp)
    location = item['location']
    for key, value in location.items():
        if key == 'id':
            location_ids.append(value)
        elif key == 'latitude':
            latitude.append(value)
        elif key == 'longitude':
            longitude.append(value)
        elif key == 'altitude':
            altitude.append(value)
        elif key == 'country':
            country.append(value)
        elif key == 'exact_location':
            exact_location.append(value)
        elif key == 'indoor':
            indoor.append(value)
    location_list.append(location)
    sensor = item['sensor']
    for key, value in sensor.items():
        if key == 'id':
            sensor_ids.append(value)
        elif key == 'pin':
            pin.append(value)
        elif key == 'sensor_type':
            for sub_key, sub_value in value.items():
                if sub_key == 'id':
                    sensor_type_id.append(sub_value)
                elif sub_key == 'name':
                    sensor_type_name.append(sub_value)
                elif sub_key == 'manufacturer':
                    sensor_type_manufacturer.append(sub_value)
    sensor_list.append(sensor)
    sensordatavalues = item['sensordatavalues']
    value_types = ['humidity','temperature','pressure','P0','P1','P2','P3','P4','N1','N4','N10','N25']
    result = {key: 'NA' for key in value_types}
    for data in sensordatavalues:
        if data['value_type'] in result:
            result[data['value_type']] = data['value']
    humidity = [result['humidity']][0]
    humiditys.append(humidity)
    temperature = [result['temperature']][0]
    temperatures.append(temperature)
    pressure = [result['pressure']][0]
    pressures.append(pressure)
    P0 = [result['P0']][0]
    P0s.append(P0)
    P1 = [result['P1']][0]
    P1s.append(P1)
    P2 = [result['P2']][0]
    P2s.append(P2)
    P3 = [result['P3']][0]
    P3s.append(P3)
    P4 = [result['P4']][0]
    P4s.append(P4)
    N1 = [result['N1']][0]
    N1s.append(N1)
    N4 = [result['N4']][0]
    N4s.append(N4)
    N10 = [result['N10']][0]
    N10s.append(N10)
    N25 = [result['N25']][0]
    N25s.append(N25)
    sensordatavalues_list.append(sensordatavalues)

In [6]:
#datacollection is formated as pandas dataframe
df = pd.DataFrame(list(zip(id_list, sensor_ids,sampling_rate_list,timestamp_list, sensor_type_name, 
                               location_list,sensor_list,sensordatavalues_list,latitude, longitude, country,
                               humiditys, temperatures, pressures,P0s,P1s,P2s,P3s,P4s,N1s,N4s,N10s,N25s)),
               columns =['id','sensor_id','sampling_rate','timestamp','sensor_type_name','location','sensor','sensordatavalues','latitude', 'longitude', 
                         'country','humidity','temperature','pressure','P0','PM10','PM2.5','P3','P4','N1','N4','N10','N25'])

In [7]:
#show dataframe
df

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,pressure,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25
0,19183414687,92,NaN,2024-02-11 20:17:46,SDS011,"{'id': 16232, 'latitude': '48.8', 'longitude':...","{'id': 92, 'pin': '1', 'sensor_type': {'id': 1...","[{'id': 43554173128, 'value': '2.53', 'value_t...",48.8,9.002,...,NA,NA,2.53,1.36,NA,NA,NA,NA,NA,NA
1,19183435352,107,NaN,2024-02-11 20:19:53,PPD42NS,"{'id': 49, 'latitude': '48.53', 'longitude': '...","{'id': 107, 'pin': '5', 'sensor_type': {'id': ...","[{'id': 43554222023, 'value': '663405.00', 'va...",48.53,9.2,...,NA,NA,1143.87,41.73,NA,NA,NA,NA,NA,NA
2,19183435447,108,NaN,2024-02-11 20:19:54,DHT22,"{'id': 49, 'latitude': '48.53', 'longitude': '...","{'id': 108, 'pin': '7', 'sensor_type': {'id': ...","[{'id': 43554222258, 'value': '1.00', 'value_t...",48.53,9.2,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,19183422149,113,NaN,2024-02-11 20:18:28,BME280,"{'id': 45999, 'latitude': '48.808', 'longitude...","{'id': 113, 'pin': '11', 'sensor_type': {'id':...","[{'id': 43554190873, 'value': '100.00', 'value...",48.808,9.182,...,96295.82,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,19183420257,140,NaN,2024-02-11 20:18:17,SDS011,"{'id': 65, 'latitude': '48.778', 'longitude': ...","{'id': 140, 'pin': '1', 'sensor_type': {'id': ...","[{'id': 43554186289, 'value': '1.84', 'value_t...",48.778,9.16,...,NA,NA,1.84,0.82,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23144,19183425213,85956,NaN,2024-02-11 20:18:43,DHT22,"{'id': 76522, 'latitude': '51.42', 'longitude'...","{'id': 85956, 'pin': '7', 'sensor_type': {'id'...","[{'id': 43554198012, 'value': '78.15', 'value_...",51.42,5.386,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
23145,19183413910,85958,NaN,2024-02-11 20:17:41,SDS011,"{'id': 76529, 'latitude': '42.66', 'longitude'...","{'id': 85958, 'pin': '1', 'sensor_type': {'id'...","[{'id': 43554171209, 'value': '0.51', 'value_t...",42.66,23.328,...,NA,NA,0.51,0.36,NA,NA,NA,NA,NA,NA
23146,19183413978,85959,NaN,2024-02-11 20:17:41,DHT22,"{'id': 76529, 'latitude': '42.66', 'longitude'...","{'id': 85959, 'pin': '7', 'sensor_type': {'id'...","[{'id': 43554171375, 'value': '47.95', 'value_...",42.66,23.328,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
23147,19183425864,85960,NaN,2024-02-11 20:18:47,SDS011,"{'id': 76530, 'latitude': '48.67922000000', 'l...","{'id': 85960, 'pin': '1', 'sensor_type': {'id'...","[{'id': 43554199555, 'value': '1.67', 'value_t...",48.67922000000,8.90303615715,...,NA,NA,1.67,1.38,NA,NA,NA,NA,NA,NA
23148,19183425956,85961,NaN,2024-02-11 20:18:47,DHT22,"{'id': 76530, 'latitude': '48.67922000000', 'l...","{'id': 85961, 'pin': '7', 'sensor_type': {'id'...","[{'id': 43554199770, 'value': '71.14', 'value_...",48.67922000000,8.90303615715,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

### Select Sensor Data for Germany only

In [17]:
#filter dataframe for German data only
df_de = df[df['country'] == 'DE']

#convert latitude and longitude to float instad of string
df_de['latitude'] = df_de['latitude'].astype(float)
df_de['longitude'] = df_de['longitude'].astype(float)
#df_de['PM10'] = df_de['PM10'].astype(float)
#df_de['PM2.5'] = df_de['PM2.5'].astype(float)

C:\Users\DE127618\AppData\Local\Temp\ipykernel_34728\2667711254.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_de['latitude'] = df_de['latitude'].astype(float)
C:\Users\DE127618\AppData\Local\Temp\ipykernel_34728\2667711254.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_de['longitude'] = df_de['longitude'].astype(float)

In [18]:
#show dataframe of German data only
df_de

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,pressure,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25
0,14175430971,92,NaN,2023-02-15 08:09:11,SDS011,"{'id': 16232, 'latitude': '48.8', 'longitude':...","{'id': 92, 'pin': '1', 'sensor_type': {'id': 1...","[{'id': 31774146922, 'value': '31.70', 'value_...",48.800000,9.002000,...,NA,NA,31.70,22.15,NA,NA,NA,NA,NA,NA
1,14175142599,107,NaN,2023-02-15 07:41:02,PPD42NS,"{'id': 49, 'latitude': '48.53', 'longitude': '...","{'id': 107, 'pin': '5', 'sensor_type': {'id': ...","[{'id': 31773474305, 'value': '660237.00', 'va...",48.530000,9.200000,...,NA,NA,1138.35,0.62,NA,NA,NA,NA,NA,NA
2,14175143258,108,NaN,2023-02-15 07:41:04,DHT22,"{'id': 49, 'latitude': '48.53', 'longitude': '...","{'id': 108, 'pin': '7', 'sensor_type': {'id': ...","[{'id': 31773475808, 'value': '1.00', 'value_t...",48.530000,9.200000,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,14175423887,113,NaN,2023-02-15 08:08:42,BME280,"{'id': 45999, 'latitude': '48.808', 'longitude...","{'id': 113, 'pin': '11', 'sensor_type': {'id':...","[{'id': 31774130409, 'value': '0.00', 'value_t...",48.808000,9.182000,...,99375.15,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,14175428586,140,NaN,2023-02-15 08:09:00,SDS011,"{'id': 65, 'latitude': '48.778', 'longitude': ...","{'id': 140, 'pin': '1', 'sensor_type': {'id': ...","[{'id': 31774141245, 'value': '43.18', 'value_...",48.778000,9.160000,...,NA,NA,43.18,23.24,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24382,14175422032,78508,NaN,2023-02-15 08:08:35,SDS011,"{'id': 67802, 'latitude': '50.846', 'longitude...","{'id': 78508, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31774126114, 'value': '3.92', 'value_t...",50.846000,7.958000,...,NA,NA,3.92,1.70,NA,NA,NA,NA,NA,NA
24383,14175422087,78509,NaN,2023-02-15 08:08:35,BME280,"{'id': 67802, 'latitude': '50.846', 'longitude...","{'id': 78509, 'pin': '11', 'sensor_type': {'id...","[{'id': 31774126300, 'value': '27.81', 'value_...",50.846000,7.958000,...,98919.55,NA,NA,NA,NA,NA,NA,NA,NA,NA
24413,14175422160,78555,NaN,2023-02-15 08:08:35,SDS011,"{'id': 67851, 'latitude': '51.354', 'longitude...","{'id': 78555, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31774126441, 'value': '34.18', 'value_...",51.354000,7.744000,...,NA,NA,34.18,18.25,NA,NA,NA,NA,NA,NA
24415,14175421813,78565,NaN,2023-02-15 08:08:34,SDS011,"{'id': 67857, 'latitude': '52.41080500000', 'l...","{'id': 78565, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31774125629, 'value': '64.50', 'value_...",52.410805,13.241091,...,NA,NA,64.50,20.20,NA,NA,NA,NA,NA,NA
24416,14175422027,78566,NaN,2023-02-15 08:08:35,BME280,"{'id': 67857, 'latitude': '52.41080500000', 'l...","{'id': 78566, 'pin': '11', 'sensor_type': {'id...","[{'id': 31774126111, 'value': '99.59', 'value_...",52.410805,13.241091,...,102547.75,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [19]:
#filter entries for Mannheim area
df_de_ma = df_de[(df_de['latitude']>=49.3) & (df_de['latitude'] < 49.8) & (df_de['longitude'] >=8.3) & (df_de['longitude'] <8.8)]

In [20]:
df_de_ma

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,pressure,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25
243,14175425289,1106,NaN,2023-02-15 08:08:48,SDS011,"{'id': 540, 'latitude': '49.448', 'longitude':...","{'id': 1106, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31774133657, 'value': '46.59', 'value_...",49.448,8.612,...,NA,NA,46.59,17.42,NA,NA,NA,NA,NA,NA
244,14175425393,1107,NaN,2023-02-15 08:08:48,DHT22,"{'id': 540, 'latitude': '49.448', 'longitude':...","{'id': 1107, 'pin': '7', 'sensor_type': {'id':...","[{'id': 31774133897, 'value': '99.90', 'value_...",49.448,8.612,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
760,14175427281,3217,NaN,2023-02-15 08:08:55,SDS011,"{'id': 1621, 'latitude': '49.702', 'longitude'...","{'id': 3217, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31774138210, 'value': '29.44', 'value_...",49.702,8.618,...,NA,NA,29.44,17.74,NA,NA,NA,NA,NA,NA
791,14175421883,3311,NaN,2023-02-15 08:08:34,SDS011,"{'id': 1668, 'latitude': '49.648', 'longitude'...","{'id': 3311, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31774125780, 'value': '29.24', 'value_...",49.648,8.570,...,NA,NA,29.24,14.13,NA,NA,NA,NA,NA,NA
792,14175422026,3312,NaN,2023-02-15 08:08:35,DHT22,"{'id': 1668, 'latitude': '49.648', 'longitude'...","{'id': 3312, 'pin': '7', 'sensor_type': {'id':...","[{'id': 31774126127, 'value': '99.90', 'value_...",49.648,8.570,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23312,14175417489,76377,NaN,2023-02-15 08:08:11,SDS011,"{'id': 65200, 'latitude': '49.5', 'longitude':...","{'id': 76377, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31774115642, 'value': '23.96', 'value_...",49.500,8.654,...,NA,NA,23.96,13.25,NA,NA,NA,NA,NA,NA
23313,14175417578,76378,NaN,2023-02-15 08:08:11,BME280,"{'id': 65200, 'latitude': '49.5', 'longitude':...","{'id': 76378, 'pin': '11', 'sensor_type': {'id...","[{'id': 31774115850, 'value': '90.49', 'value_...",49.500,8.654,...,101967.49,NA,NA,NA,NA,NA,NA,NA,NA,NA
23565,14175409565,76846,NaN,2023-02-15 08:07:12,SDS011,"{'id': 65813, 'latitude': '49.546', 'longitude...","{'id': 76846, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31774097180, 'value': '23.50', 'value_...",49.546,8.644,...,NA,NA,23.50,9.66,NA,NA,NA,NA,NA,NA
23566,14175409582,76847,NaN,2023-02-15 08:07:12,BME280,"{'id': 65813, 'latitude': '49.546', 'longitude...","{'id': 76847, 'pin': '11', 'sensor_type': {'id...","[{'id': 31774097215, 'value': '91.22', 'value_...",49.546,8.644,...,102102.56,NA,NA,NA,NA,NA,NA,NA,NA,NA
23879,14175422582,77457,NaN,2023-02-15 08:08:38,SDS011,"{'id': 66541, 'latitude': '49.346', 'longitude...","{'id': 77457, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31774127357, 'value': '23.62', 'value_...",49.346,8.648,...,NA,NA,23.62,8.66,NA,NA,NA,NA,NA,NA

In [21]:
cities_hack = pd.read_excel('air_DE_MA_all.xlsx')

In [22]:
cities_hack

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25,city
0,13990010194,1106,NaN,2023-02-01 08:43:07,SDS011,"{'id': 540, 'latitude': '49.448', 'longitude':...","{'id': 1106, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31342494345, 'value': '11.33', 'value_...",49.448,8.612,...,NaN,11.33,4.06,NaN,NaN,NaN,NaN,NaN,NaN,Edingen-Neckarhausen
1,13990010263,1107,NaN,2023-02-01 08:43:07,DHT22,"{'id': 540, 'latitude': '49.448', 'longitude':...","{'id': 1107, 'pin': '7', 'sensor_type': {'id':...","[{'id': 31342494514, 'value': '99.90', 'value_...",49.448,8.612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edingen-Neckarhausen
2,13990010317,3217,NaN,2023-02-01 08:43:08,SDS011,"{'id': 1621, 'latitude': '49.702', 'longitude'...","{'id': 3217, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31342494638, 'value': '11.72', 'value_...",49.702,8.618,...,NaN,11.72,7.09,NaN,NaN,NaN,NaN,NaN,NaN,Bensheim
3,13990006140,3311,NaN,2023-02-01 08:42:38,SDS011,"{'id': 1668, 'latitude': '49.648', 'longitude'...","{'id': 3311, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31342484932, 'value': '11.70', 'value_...",49.648,8.570,...,NaN,11.70,4.33,NaN,NaN,NaN,NaN,NaN,NaN,Lorsch
4,13990006227,3312,NaN,2023-02-01 08:42:39,DHT22,"{'id': 1668, 'latitude': '49.648', 'longitude'...","{'id': 3312, 'pin': '7', 'sensor_type': {'id':...","[{'id': 31342485128, 'value': '99.90', 'value_...",49.648,8.570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lorsch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,13990001959,76378,NaN,2023-02-01 08:42:15,BME280,"{'id': 65200, 'latitude': '49.5', 'longitude':...","{'id': 76378, 'pin': '11', 'sensor_type': {'id...","[{'id': 31342475425, 'value': '88.31', 'value_...",49.500,8.654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rhein-Neckar-Kreis
216,13990027408,76378,NaN,2023-02-01 08:45:01,BME280,"{'id': 65200, 'latitude': '49.5', 'longitude':...","{'id': 76378, 'pin': '11', 'sensor_type': {'id...","[{'id': 31342534604, 'value': '4.78', 'value_t...",49.500,8.654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rhein-Neckar-Kreis
217,13990006062,76846,NaN,2023-02-01 08:42:38,SDS011,"{'id': 65813, 'latitude': '49.546', 'longitude...","{'id': 76846, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31342484746, 'value': '9.20', 'value_t...",49.546,8.644,...,NaN,9.20,4.14,NaN,NaN,NaN,NaN,NaN,NaN,Weinheim
218,13990006070,76847,NaN,2023-02-01 08:42:38,BME280,"{'id': 65813, 'latitude': '49.546', 'longitude...","{'id': 76847, 'pin': '11', 'sensor_type': {'id...","[{'id': 31342484764, 'value': '89.71', 'value_...",49.546,8.644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weinheim
219,13990018343,77457,NaN,2023-02-01 08:43:51,SDS011,"{'id': 66541, 'latitude': '49.346', 'longitude...","{'id': 77457, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31342513221, 'value': '9.47', 'value_t...",49.346,8.648,...,NaN,9.47,2.24,NaN,NaN,NaN,NaN,NaN,NaN,Sandhausen

In [28]:
# merge the dataframes on the 'id' column and append only the 'age' column from df2
merged_df = pd.merge(df_de_ma, cities_hack[['sensor_id', 'city']], on='sensor_id', suffixes=('_left', '_right'))

# display the result
merged_df

#new_df = pd.merge(df_de_ma, cities_hack, how='inner', on = 'sensor_id')
#df_result.pred = df.pred.fillna(0.0)
#new_df

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25,city
0,14175425289,1106,NaN,2023-02-15 08:08:48,SDS011,"{'id': 540, 'latitude': '49.448', 'longitude':...","{'id': 1106, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31774133657, 'value': '46.59', 'value_...",49.448,8.612,...,NA,46.59,17.42,NA,NA,NA,NA,NA,NA,Edingen-Neckarhausen
1,14175425393,1107,NaN,2023-02-15 08:08:48,DHT22,"{'id': 540, 'latitude': '49.448', 'longitude':...","{'id': 1107, 'pin': '7', 'sensor_type': {'id':...","[{'id': 31774133897, 'value': '99.90', 'value_...",49.448,8.612,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Edingen-Neckarhausen
2,14175427281,3217,NaN,2023-02-15 08:08:55,SDS011,"{'id': 1621, 'latitude': '49.702', 'longitude'...","{'id': 3217, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31774138210, 'value': '29.44', 'value_...",49.702,8.618,...,NA,29.44,17.74,NA,NA,NA,NA,NA,NA,Bensheim
3,14175421883,3311,NaN,2023-02-15 08:08:34,SDS011,"{'id': 1668, 'latitude': '49.648', 'longitude'...","{'id': 3311, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31774125780, 'value': '29.24', 'value_...",49.648,8.570,...,NA,29.24,14.13,NA,NA,NA,NA,NA,NA,Lorsch
4,14175422026,3312,NaN,2023-02-15 08:08:35,DHT22,"{'id': 1668, 'latitude': '49.648', 'longitude'...","{'id': 3312, 'pin': '7', 'sensor_type': {'id':...","[{'id': 31774126127, 'value': '99.90', 'value_...",49.648,8.570,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Lorsch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,14175417578,76378,NaN,2023-02-15 08:08:11,BME280,"{'id': 65200, 'latitude': '49.5', 'longitude':...","{'id': 76378, 'pin': '11', 'sensor_type': {'id...","[{'id': 31774115850, 'value': '90.49', 'value_...",49.500,8.654,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Rhein-Neckar-Kreis
214,14175417578,76378,NaN,2023-02-15 08:08:11,BME280,"{'id': 65200, 'latitude': '49.5', 'longitude':...","{'id': 76378, 'pin': '11', 'sensor_type': {'id...","[{'id': 31774115850, 'value': '90.49', 'value_...",49.500,8.654,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Rhein-Neckar-Kreis
215,14175409565,76846,NaN,2023-02-15 08:07:12,SDS011,"{'id': 65813, 'latitude': '49.546', 'longitude...","{'id': 76846, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31774097180, 'value': '23.50', 'value_...",49.546,8.644,...,NA,23.50,9.66,NA,NA,NA,NA,NA,NA,Weinheim
216,14175409582,76847,NaN,2023-02-15 08:07:12,BME280,"{'id': 65813, 'latitude': '49.546', 'longitude...","{'id': 76847, 'pin': '11', 'sensor_type': {'id...","[{'id': 31774097215, 'value': '91.22', 'value_...",49.546,8.644,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Weinheim
217,14175422582,77457,NaN,2023-02-15 08:08:38,SDS011,"{'id': 66541, 'latitude': '49.346', 'longitude...","{'id': 77457, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31774127357, 'value': '23.62', 'value_...",49.346,8.648,...,NA,23.62,8.66,NA,NA,NA,NA,NA,NA,Sandhausen

In [12]:
# import module
#!pip install geopy

#this function automatically assigns a city, town or county based on lat,long values
#caution: super slow! only one request per second
from geopy.geocoders import Nominatim

def assign_city(df):
    geolocator = Nominatim(user_agent="geoapiExercises")
    
    city_list = []
    for index,row in df.iterrows():
        lat = row['latitude']
        long = row['longitude']
        location = geolocator.reverse(f"{lat},{long}", exactly_one = True)
        city = location.raw['address'].get('town',"") or location.raw['address'].get('city', "") or location.raw['address'].get('county', "")
        city_list.append(city)
        
    df['city'] = city_list
    return df

In [70]:
#applies the function to current dataframe
assign_city(df_de_ma)

C:\Users\DE127618\AppData\Local\Temp\ipykernel_10008\2797499468.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city'] = city_list

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25,city
238,13990010194,1106,NaN,2023-02-01 08:43:07,SDS011,"{'id': 540, 'latitude': '49.448', 'longitude':...","{'id': 1106, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31342494345, 'value': '11.33', 'value_...",49.448,8.612,...,NA,11.33,4.06,NA,NA,NA,NA,NA,NA,Edingen-Neckarhausen
239,13990010263,1107,NaN,2023-02-01 08:43:07,DHT22,"{'id': 540, 'latitude': '49.448', 'longitude':...","{'id': 1107, 'pin': '7', 'sensor_type': {'id':...","[{'id': 31342494514, 'value': '99.90', 'value_...",49.448,8.612,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Edingen-Neckarhausen
761,13990010317,3217,NaN,2023-02-01 08:43:08,SDS011,"{'id': 1621, 'latitude': '49.702', 'longitude'...","{'id': 3217, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31342494638, 'value': '11.72', 'value_...",49.702,8.618,...,NA,11.72,7.09,NA,NA,NA,NA,NA,NA,Bensheim
791,13990006140,3311,NaN,2023-02-01 08:42:38,SDS011,"{'id': 1668, 'latitude': '49.648', 'longitude'...","{'id': 3311, 'pin': '1', 'sensor_type': {'id':...","[{'id': 31342484932, 'value': '11.70', 'value_...",49.648,8.570,...,NA,11.70,4.33,NA,NA,NA,NA,NA,NA,Lorsch
792,13990006227,3312,NaN,2023-02-01 08:42:39,DHT22,"{'id': 1668, 'latitude': '49.648', 'longitude'...","{'id': 3312, 'pin': '7', 'sensor_type': {'id':...","[{'id': 31342485128, 'value': '99.90', 'value_...",49.648,8.570,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Lorsch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23320,13990001959,76378,NaN,2023-02-01 08:42:15,BME280,"{'id': 65200, 'latitude': '49.5', 'longitude':...","{'id': 76378, 'pin': '11', 'sensor_type': {'id...","[{'id': 31342475425, 'value': '88.31', 'value_...",49.500,8.654,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Rhein-Neckar-Kreis
23321,13990027408,76378,NaN,2023-02-01 08:45:01,BME280,"{'id': 65200, 'latitude': '49.5', 'longitude':...","{'id': 76378, 'pin': '11', 'sensor_type': {'id...","[{'id': 31342534604, 'value': '4.78', 'value_t...",49.500,8.654,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Rhein-Neckar-Kreis
23570,13990006062,76846,NaN,2023-02-01 08:42:38,SDS011,"{'id': 65813, 'latitude': '49.546', 'longitude...","{'id': 76846, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31342484746, 'value': '9.20', 'value_t...",49.546,8.644,...,NA,9.20,4.14,NA,NA,NA,NA,NA,NA,Weinheim
23571,13990006070,76847,NaN,2023-02-01 08:42:38,BME280,"{'id': 65813, 'latitude': '49.546', 'longitude...","{'id': 76847, 'pin': '11', 'sensor_type': {'id...","[{'id': 31342484764, 'value': '89.71', 'value_...",49.546,8.644,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,Weinheim
23876,13990018343,77457,NaN,2023-02-01 08:43:51,SDS011,"{'id': 66541, 'latitude': '49.346', 'longitude...","{'id': 77457, 'pin': '1', 'sensor_type': {'id'...","[{'id': 31342513221, 'value': '9.47', 'value_t...",49.346,8.648,...,NA,9.47,2.24,NA,NA,NA,NA,NA,NA,Sandhausen

### Export to Excel

In [92]:
# export as excel file
datatoexcel = pd.ExcelWriter('air_DE_MA_all.xlsx')

# write DataFrame to excel
df_de_ma.to_excel(datatoexcel, index= False , sheet_name='air_DE_MA', encoding = "utf-8")

# save the excel
datatoexcel.save()

C:\Users\DE127618\AppData\Roaming\Python\Python310\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)
C:\Users\DE127618\AppData\Local\Temp\ipykernel_10008\889285037.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  datatoexcel.save()

# Get near real time data

In [30]:
apiIDs = merged_df.sensor_id

In [31]:
apiIDs

0       1106
1       1107
2       3217
3       3311
4       3312
       ...
213    76378
214    76378
215    76846
216    76847
217    77457
Name: sensor_id, Length: 218, dtype: int64

In [89]:
!pip install schedule

Defaulting to user installation because normal site-packages is not writeable
Collecting schedule
  Downloading schedule-1.1.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: schedule
Successfully installed schedule-1.1.0

In [33]:
import schedule
import time

def job():
    id_list = []
    sampling_rate_list = []
    timestamp_list = []
    location_list = []
    sensor_list = []
    sensordatavalues_list = []
    location_ids = []
    latitude = []
    longitude = []
    altitude = []
    country = []
    exact_location = []
    indoor = []
    sensor_ids = []
    pin = []
    sensor_type_id = []
    sensor_type_name = []
    sensor_type_manufacturer = []
    humiditys = []
    temperatures = []
    pressures = []
    SDS_P1s = []
    SDS_P2s = []
    P0s = []
    P1s = []
    P2s = []
    P3s = []
    P4s = []
    N1s = []
    N4s = []
    N10s = []
    N25s = []

    count = 0

    for apiID in apiIDs:
        api_5_min = f'https://data.sensor.community/airrohr/v1/sensor/{apiID}/'
        count = count + 1
        print(count)
        response_5_min = requests.get(api_5_min).json()

        for item in response_5_min:
            iD = item['id']
            id_list.append(iD)
            sampling_rate = item['sampling_rate']
            sampling_rate_list.append(sampling_rate)
            timestamp = item['timestamp']
            timestamp_list.append(timestamp)
            location = item['location']
            for key, value in location.items():
                if key == 'id':
                    location_ids.append(value)
                elif key == 'latitude':
                    latitude.append(value)
                elif key == 'longitude':
                    longitude.append(value)
                elif key == 'altitude':
                    altitude.append(value)
                elif key == 'country':
                    country.append(value)
                elif key == 'exact_location':
                    exact_location.append(value)
                elif key == 'indoor':
                    indoor.append(value)
            location_list.append(location)
            sensor = item['sensor']
            for key, value in sensor.items():
                if key == 'id':
                    sensor_ids.append(value)
                elif key == 'pin':
                    pin.append(value)
                elif key == 'sensor_type':
                    for sub_key, sub_value in value.items():
                        if sub_key == 'id':
                            sensor_type_id.append(sub_value)
                        elif sub_key == 'name':
                            sensor_type_name.append(sub_value)
                        elif sub_key == 'manufacturer':
                            sensor_type_manufacturer.append(sub_value)
            sensor_list.append(sensor)
            sensordatavalues = item['sensordatavalues']
            value_types = ['humidity','temperature','pressure','P0','P1','P2','P3','P4','N1','N4','N10','N25']
            result = {key: 'NA' for key in value_types}
            for data in sensordatavalues:
                if data['value_type'] in result:
                    result[data['value_type']] = data['value']
            humidity = [result['humidity']][0]
            humiditys.append(humidity)
            temperature = [result['temperature']][0]
            temperatures.append(temperature)
            pressure = [result['pressure']][0]
            pressures.append(pressure)
            P0 = [result['P0']][0]
            P0s.append(P0)
            P1 = [result['P1']][0]
            P1s.append(P1)
            P2 = [result['P2']][0]
            P2s.append(P2)
            P3 = [result['P3']][0]
            P3s.append(P3)
            P4 = [result['P4']][0]
            P4s.append(P4)
            N1 = [result['N1']][0]
            N1s.append(N1)
            N4 = [result['N4']][0]
            N4s.append(N4)
            N10 = [result['N10']][0]
            N10s.append(N10)
            N25 = [result['N25']][0]
            N25s.append(N25)
            sensordatavalues_list.append(sensordatavalues)

    df_ma_selected = pd.DataFrame(list(zip(id_list, sensor_ids,sampling_rate_list,timestamp_list, sensor_type_name, 
                               location_list,sensor_list,sensordatavalues_list,latitude, longitude, country,
                               humiditys, temperatures, pressures,P0s,P1s,P2s,P3s,P4s,N1s,N4s,N10s,N25s)),
               columns =['id','sensor_id','sampling_rate','timestamp','sensor_type_name','location','sensor','sensordatavalues','latitude', 'longitude', 
                         'country','humidity','temperature','pressure','P0','PM10','PM2.5','P3','P4','N1','N4','N10','N25'])

    df_ma_selected.to_csv('air_DE_MA_all.csv', mode='a', index=False, header=False)
    print("Here we go again...")

schedule.every(5).minutes.do(job)

while True:
    schedule.run_pending()
    time.sleep(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
Here we go again...
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
Here we go again...
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
Here we go again...
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
Here we go again...
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
Here we go again...
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
Here we go again...

KeyboardInterrupt:

In [34]:
test = pd.read_csv('air_DE_MA_all.csv')
test.drop_duplicates()
test

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,pressure,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25
0,13994242869,1106,NaN,2023-02-01 17:30:25,SDS011,"{'indoor': 0, 'longitude': '8.612', 'altitude'...","{'sensor_type': {'name': 'SDS011', 'manufactur...","[{'value_type': 'P1', 'id': 31352315964, 'valu...",49.448,8.612,...,NaN,NaN,11.65,4.00,NaN,NaN,NaN,NaN,NaN,NaN
1,13994217559,1106,NaN,2023-02-01 17:27:57,SDS011,"{'indoor': 0, 'longitude': '8.612', 'altitude'...","{'sensor_type': {'name': 'SDS011', 'manufactur...","[{'value_type': 'P1', 'id': 31352257114, 'valu...",49.448,8.612,...,NaN,NaN,15.43,4.00,NaN,NaN,NaN,NaN,NaN,NaN
2,13994242957,1107,NaN,2023-02-01 17:30:25,DHT22,"{'indoor': 0, 'longitude': '8.612', 'altitude'...","{'sensor_type': {'name': 'DHT22', 'manufacture...","[{'value_type': 'temperature', 'id': 313523161...",49.448,8.612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13994217642,1107,NaN,2023-02-01 17:27:57,DHT22,"{'indoor': 0, 'longitude': '8.612', 'altitude'...","{'sensor_type': {'name': 'DHT22', 'manufacture...","[{'value_type': 'temperature', 'id': 313522573...",49.448,8.612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13994256244,3217,NaN,2023-02-01 17:31:44,SDS011,"{'indoor': 0, 'longitude': '8.618', 'altitude'...","{'sensor_type': {'name': 'SDS011', 'manufactur...","[{'value_type': 'P1', 'id': 31352346886, 'valu...",49.702,8.618,...,NaN,NaN,13.03,4.07,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13638,14176422812,76378,NaN,2023-02-15 09:58:33,BME280,"{'altitude': '105.5', 'indoor': 0, 'country': ...","{'pin': '11', 'sensor_type': {'manufacturer': ...","[{'value': '1.54', 'value_type': 'temperature'...",49.500,8.654,...,101910.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13639,14176407640,76378,NaN,2023-02-15 09:55:55,BME280,"{'altitude': '105.5', 'indoor': 0, 'country': ...","{'pin': '11', 'sensor_type': {'manufacturer': ...","[{'value': '1.56', 'value_type': 'temperature'...",49.500,8.654,...,101913.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13640,14176416887,76847,NaN,2023-02-15 09:57:23,BME280,"{'altitude': '101.7', 'indoor': 0, 'country': ...","{'pin': '11', 'sensor_type': {'manufacturer': ...","[{'value': '1.30', 'value_type': 'temperature'...",49.546,8.644,...,102031.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13641,14176416102,77457,NaN,2023-02-15 09:57:14,SDS011,"{'altitude': '114.5', 'indoor': 0, 'country': ...","{'pin': '1', 'sensor_type': {'manufacturer': '...","[{'value': '21.25', 'value_type': 'P1', 'id': ...",49.346,8.648,...,NaN,NaN,21.25,9.15,NaN,NaN,NaN,NaN,NaN,NaN
13642,14176400873,77457,NaN,2023-02-15 09:54:32,SDS011,"{'altitude': '114.5', 'indoor': 0, 'country': ...","{'pin': '1', 'sensor_type': {'manufacturer': '...","[{'value': '25.17', 'value_type': 'P1', 'id': ...",49.346,8.648,...,NaN,NaN,25.17,10.18,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
# export as excel file
datatoexcel = pd.ExcelWriter('air_DE_MA_0102_update.xlsx')

# write DataFrame to excel
test.to_excel(datatoexcel, index= False , sheet_name='air_DE_MA', encoding = "utf-8")

# save the excel
datatoexcel.save()

C:\Users\DE127618\AppData\Roaming\Python\Python310\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)
C:\Users\DE127618\AppData\Local\Temp\ipykernel_10008\2473964194.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  datatoexcel.save()

In [99]:
id_list = []
sampling_rate_list = []
timestamp_list = []
location_list = []
sensor_list = []
sensordatavalues_list = []
location_ids = []
latitude = []
longitude = []
altitude = []
country = []
exact_location = []
indoor = []
sensor_ids = []
pin = []
sensor_type_id = []
sensor_type_name = []
sensor_type_manufacturer = []
humiditys = []
temperatures = []
pressures = []
SDS_P1s = []
SDS_P2s = []
P0s = []
P1s = []
P2s = []
P3s = []
P4s = []
N1s = []
N4s = []
N10s = []
N25s = []

count = 0

for apiID in apiIDs:
    api_5_min = f'https://data.sensor.community/airrohr/v1/sensor/{apiID}/'
    count = count + 1
    print(count)
    response_5_min = requests.get(api_5_min).json()

    for item in response_5_min:
        iD = item['id']
        id_list.append(iD)
        sampling_rate = item['sampling_rate']
        sampling_rate_list.append(sampling_rate)
        timestamp = item['timestamp']
        timestamp_list.append(timestamp)
        location = item['location']
        for key, value in location.items():
            if key == 'id':
                location_ids.append(value)
            elif key == 'latitude':
                latitude.append(value)
            elif key == 'longitude':
                longitude.append(value)
            elif key == 'altitude':
                altitude.append(value)
            elif key == 'country':
                country.append(value)
            elif key == 'exact_location':
                exact_location.append(value)
            elif key == 'indoor':
                indoor.append(value)
        location_list.append(location)
        sensor = item['sensor']
        for key, value in sensor.items():
            if key == 'id':
                sensor_ids.append(value)
            elif key == 'pin':
                pin.append(value)
            elif key == 'sensor_type':
                for sub_key, sub_value in value.items():
                    if sub_key == 'id':
                        sensor_type_id.append(sub_value)
                    elif sub_key == 'name':
                        sensor_type_name.append(sub_value)
                    elif sub_key == 'manufacturer':
                        sensor_type_manufacturer.append(sub_value)
        sensor_list.append(sensor)
        sensordatavalues = item['sensordatavalues']
        value_types = ['humidity','temperature','pressure','P0','P1','P2','P3','P4','N1','N4','N10','N25']
        result = {key: 'NA' for key in value_types}
        for data in sensordatavalues:
            if data['value_type'] in result:
                result[data['value_type']] = data['value']
        humidity = [result['humidity']][0]
        humiditys.append(humidity)
        temperature = [result['temperature']][0]
        temperatures.append(temperature)
        pressure = [result['pressure']][0]
        pressures.append(pressure)
        P0 = [result['P0']][0]
        P0s.append(P0)
        P1 = [result['P1']][0]
        P1s.append(P1)
        P2 = [result['P2']][0]
        P2s.append(P2)
        P3 = [result['P3']][0]
        P3s.append(P3)
        P4 = [result['P4']][0]
        P4s.append(P4)
        N1 = [result['N1']][0]
        N1s.append(N1)
        N4 = [result['N4']][0]
        N4s.append(N4)
        N10 = [result['N10']][0]
        N10s.append(N10)
        N25 = [result['N25']][0]
        N25s.append(N25)
        sensordatavalues_list.append(sensordatavalues)

df_ma_selected = pandas.DataFrame(list(zip(id_list, sensor_ids,sampling_rate_list,timestamp_list, sensor_type_name, 
                           location_list,sensor_list,sensordatavalues_list,latitude, longitude, country,
                           humiditys, temperatures, pressures,P0s,P1s,P2s,P3s,P4s,N1s,N4s,N10s,N25s)),
           columns =['id','sensor_id','sampling_rate','timestamp','sensor_type_name','location','sensor','sensordatavalues','latitude', 'longitude', 
                     'country','humidity','temperature','pressure','P0','PM10','PM2.5','P3','P4','N1','N4','N10','N25'])

df_ma_selected.to_csv('air_DE_MA_all.csv', mode='a', index=False, header=False)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220

In [93]:
id_list = []
sampling_rate_list = []
timestamp_list = []
location_list = []
sensor_list = []
sensordatavalues_list = []
location_ids = []
latitude = []
longitude = []
altitude = []
country = []
exact_location = []
indoor = []
sensor_ids = []
pin = []
sensor_type_id = []
sensor_type_name = []
sensor_type_manufacturer = []
humiditys = []
temperatures = []
pressures = []
SDS_P1s = []
SDS_P2s = []
P0s = []
P1s = []
P2s = []
P3s = []
P4s = []
N1s = []
N4s = []
N10s = []
N25s = []


api_5_min = 'https://data.sensor.community/airrohr/v1/sensor/38226/'
response_5_min = requests.get(api_5_min).json()

for item in response_5_min:
    iD = item['id']
    id_list.append(iD)
    sampling_rate = item['sampling_rate']
    sampling_rate_list.append(sampling_rate)
    timestamp = item['timestamp']
    timestamp_list.append(timestamp)
    location = item['location']
    for key, value in location.items():
        if key == 'id':
            location_ids.append(value)
        elif key == 'latitude':
            latitude.append(value)
        elif key == 'longitude':
            longitude.append(value)
        elif key == 'altitude':
            altitude.append(value)
        elif key == 'country':
            country.append(value)
        elif key == 'exact_location':
            exact_location.append(value)
        elif key == 'indoor':
            indoor.append(value)
    location_list.append(location)
    sensor = item['sensor']
    for key, value in sensor.items():
        if key == 'id':
            sensor_ids.append(value)
        elif key == 'pin':
            pin.append(value)
        elif key == 'sensor_type':
            for sub_key, sub_value in value.items():
                if sub_key == 'id':
                    sensor_type_id.append(sub_value)
                elif sub_key == 'name':
                    sensor_type_name.append(sub_value)
                elif sub_key == 'manufacturer':
                    sensor_type_manufacturer.append(sub_value)
    sensor_list.append(sensor)
    sensordatavalues = item['sensordatavalues']
    value_types = ['humidity','temperature','pressure','P0','P1','P2','P3','P4','N1','N4','N10','N25']
    result = {key: 'NA' for key in value_types}
    for data in sensordatavalues:
        if data['value_type'] in result:
            result[data['value_type']] = data['value']
    humidity = [result['humidity']][0]
    humiditys.append(humidity)
    temperature = [result['temperature']][0]
    temperatures.append(temperature)
    pressure = [result['pressure']][0]
    pressures.append(pressure)
    P0 = [result['P0']][0]
    P0s.append(P0)
    P1 = [result['P1']][0]
    P1s.append(P1)
    P2 = [result['P2']][0]
    P2s.append(P2)
    P3 = [result['P3']][0]
    P3s.append(P3)
    P4 = [result['P4']][0]
    P4s.append(P4)
    N1 = [result['N1']][0]
    N1s.append(N1)
    N4 = [result['N4']][0]
    N4s.append(N4)
    N10 = [result['N10']][0]
    N10s.append(N10)
    N25 = [result['N25']][0]
    N25s.append(N25)
    sensordatavalues_list.append(sensordatavalues)

In [95]:
df_38226 = pandas.DataFrame(list(zip(id_list, sensor_ids,sampling_rate_list,timestamp_list, sensor_type_name, 
                               location_list,sensor_list,sensordatavalues_list,latitude, longitude, country,
                               humiditys, temperatures, pressures,P0s,P1s,P2s,P3s,P4s,N1s,N4s,N10s,N25s)),
               columns =['id','sensor_id','sampling_rate','timestamp','sensor_type_name','location','sensor','sensordatavalues','latitude', 'longitude', 
                         'country','humidity','temperature','pressure','P0','PM10','PM2.5','P3','P4','N1','N4','N10','N25'])

df_38226
df_38226.to_csv('air_DE_MA_38226.csv', index=True, header=True)
#df_38226.to_csv('air_DE_MA_38226.csv', mode='a', index=False, header=False)

In [96]:
df_38226

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,pressure,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25
0,13994057236,38226,None,2023-02-01 17:11:29,SDS011,"{'indoor': 1, 'longitude': '8.576', 'altitude'...","{'sensor_type': {'name': 'SDS011', 'manufactur...","[{'value_type': 'P1', 'id': 31351884590, 'valu...",49.446,8.576,...,NA,NA,166.30,146.50,NA,NA,NA,NA,NA,NA
1,13994033889,38226,None,2023-02-01 17:09:08,SDS011,"{'indoor': 1, 'longitude': '8.576', 'altitude'...","{'sensor_type': {'name': 'SDS011', 'manufactur...","[{'value_type': 'P1', 'id': 31351830355, 'valu...",49.446,8.576,...,NA,NA,168.57,147.23,NA,NA,NA,NA,NA,NA

In [86]:
id_list = []
sampling_rate_list = []
timestamp_list = []
location_list = []
sensor_list = []
sensordatavalues_list = []
location_ids = []
latitude = []
longitude = []
altitude = []
country = []
exact_location = []
indoor = []
sensor_ids = []
pin = []
sensor_type_id = []
sensor_type_name = []
sensor_type_manufacturer = []
humiditys = []
temperatures = []
pressures = []
SDS_P1s = []
SDS_P2s = []
P0s = []
P1s = []
P2s = []
P3s = []
P4s = []
N1s = []
N4s = []
N10s = []
N25s = []


for apiID in apiIDs:
    api_5_min = f'https://data.sensor.community/airrohr/v1/sensor/{apiID}/'
    response_5_min = requests.get(api_5_min).json()

    for item in response_5_min:
        iD = item['id']
        id_list.append(iD)
        sampling_rate = item['sampling_rate']
        sampling_rate_list.append(sampling_rate)
        timestamp = item['timestamp']
        timestamp_list.append(timestamp)
        location = item['location']
        for key, value in location.items():
            if key == 'id':
                location_ids.append(value)
            elif key == 'latitude':
                latitude.append(value)
            elif key == 'longitude':
                longitude.append(value)
            elif key == 'altitude':
                altitude.append(value)
            elif key == 'country':
                country.append(value)
            elif key == 'exact_location':
                exact_location.append(value)
            elif key == 'indoor':
                indoor.append(value)
        location_list.append(location)
        sensor = item['sensor']
        for key, value in sensor.items():
            if key == 'id':
                sensor_ids.append(value)
            elif key == 'pin':
                pin.append(value)
            elif key == 'sensor_type':
                for sub_key, sub_value in value.items():
                    if sub_key == 'id':
                        sensor_type_id.append(sub_value)
                    elif sub_key == 'name':
                        sensor_type_name.append(sub_value)
                    elif sub_key == 'manufacturer':
                        sensor_type_manufacturer.append(sub_value)
        sensor_list.append(sensor)
        sensordatavalues = item['sensordatavalues']
        value_types = ['humidity','temperature','pressure','P0','P1','P2','P3','P4','N1','N4','N10','N25']
        result = {key: 'NA' for key in value_types}
        for data in sensordatavalues:
            if data['value_type'] in result:
                result[data['value_type']] = data['value']
        humidity = [result['humidity']][0]
        humiditys.append(humidity)
        temperature = [result['temperature']][0]
        temperatures.append(temperature)
        pressure = [result['pressure']][0]
        pressures.append(pressure)
        P0 = [result['P0']][0]
        P0s.append(P0)
        P1 = [result['P1']][0]
        P1s.append(P1)
        P2 = [result['P2']][0]
        P2s.append(P2)
        P3 = [result['P3']][0]
        P3s.append(P3)
        P4 = [result['P4']][0]
        P4s.append(P4)
        N1 = [result['N1']][0]
        N1s.append(N1)
        N4 = [result['N4']][0]
        N4s.append(N4)
        N10 = [result['N10']][0]
        N10s.append(N10)
        N25 = [result['N25']][0]
        N25s.append(N25)
        sensordatavalues_list.append(sensordatavalues)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220

In [87]:
#datacollection is formated as pandas dataframe
df_test = pandas.DataFrame(list(zip(id_list, sensor_ids,sampling_rate_list,timestamp_list, sensor_type_name, 
                               location_list,sensor_list,sensordatavalues_list,latitude, longitude, country,
                               humiditys, temperatures, pressures,P0s,P1s,P2s,P3s,P4s,N1s,N4s,N10s,N25s)),
               columns =['id','sensor_id','sampling_rate','timestamp','sensor_type_name','location','sensor','sensordatavalues','latitude', 'longitude', 
                         'country','humidity','temperature','pressure','P0','PM10','PM2.5','P3','P4','N1','N4','N10','N25'])

In [88]:
df_test

,id,sensor_id,sampling_rate,timestamp,sensor_type_name,location,sensor,sensordatavalues,latitude,longitude,...,pressure,P0,PM10,PM2.5,P3,P4,N1,N4,N10,N25
0,13992291038,1106,None,2023-02-01 13:35:58,SDS011,"{'indoor': 0, 'country': 'DE', 'id': 540, 'exa...","{'id': 1106, 'sensor_type': {'id': 14, 'manufa...","[{'id': 31347781706, 'value': '13.70', 'value_...",49.448,8.612,...,NA,NA,13.70,2.58,NA,NA,NA,NA,NA,NA
1,13992291559,1107,None,2023-02-01 13:36:06,DHT22,"{'indoor': 0, 'country': 'DE', 'id': 540, 'exa...","{'id': 1107, 'sensor_type': {'id': 9, 'manufac...","[{'id': 31347782889, 'value': '8.30', 'value_t...",49.448,8.612,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,13992280118,1107,None,2023-02-01 13:32:58,DHT22,"{'indoor': 0, 'country': 'DE', 'id': 540, 'exa...","{'id': 1107, 'sensor_type': {'id': 9, 'manufac...","[{'id': 31347756292, 'value': '8.30', 'value_t...",49.448,8.612,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,13992281800,3217,None,2023-02-01 13:33:25,SDS011,"{'indoor': 0, 'country': 'DE', 'id': 1621, 'ex...","{'id': 3217, 'sensor_type': {'id': 14, 'manufa...","[{'id': 31347760222, 'value': '9.37', 'value_t...",49.702,8.618,...,NA,NA,9.37,3.43,NA,NA,NA,NA,NA,NA
4,13992285346,3311,None,2023-02-01 13:34:30,SDS011,"{'indoor': 0, 'country': 'DE', 'id': 1668, 'ex...","{'id': 3311, 'sensor_type': {'id': 14, 'manufa...","[{'id': 31347768496, 'value': '8.17', 'value_t...",49.648,8.57,...,NA,NA,8.17,2.30,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,13992291660,76378,None,2023-02-01 13:36:08,BME280,"{'indoor': 0, 'country': 'DE', 'id': 65200, 'e...","{'id': 76378, 'sensor_type': {'id': 17, 'manuf...","[{'id': 31347783184, 'value': '6.13', 'value_t...",49.5,8.654,...,101083.88,NA,NA,NA,NA,NA,NA,NA,NA,NA
176,13992291660,76378,None,2023-02-01 13:36:08,BME280,"{'indoor': 0, 'country': 'DE', 'id': 65200, 'e...","{'id': 76378, 'sensor_type': {'id': 17, 'manuf...","[{'id': 31347783184, 'value': '6.13', 'value_t...",49.5,8.654,...,101083.88,NA,NA,NA,NA,NA,NA,NA,NA,NA
177,13992297549,76847,None,2023-02-01 13:37:32,BME280,"{'indoor': 0, 'country': 'DE', 'id': 65813, 'e...","{'id': 76847, 'sensor_type': {'id': 17, 'manuf...","[{'id': 31347796704, 'value': '6.01', 'value_t...",49.546,8.644,...,101184.38,NA,NA,NA,NA,NA,NA,NA,NA,NA
178,13992298466,77457,None,2023-02-01 13:37:47,SDS011,"{'indoor': 0, 'country': 'DE', 'id': 66541, 'e...","{'id': 77457, 'sensor_type': {'id': 14, 'manuf...","[{'id': 31347798862, 'value': '8.35', 'value_t...",49.346,8.648,...,NA,NA,8.35,1.13,NA,NA,NA,NA,NA,NA
179,13992287280,77457,None,2023-02-01 13:34:59,SDS011,"{'indoor': 0, 'country': 'DE', 'id': 66541, 'e...","{'id': 77457, 'sensor_type': {'id': 14, 'manuf...","[{'id': 31347772997, 'value': '10.32', 'value_...",49.346,8.648,...,NA,NA,10.32,1.13,NA,NA,NA,NA,NA,NA

In [81]:
for apiID in apiIDs:
    api_5_min = f'https://data.sensor.community/airrohr/v1/sensor/{apiID}/'
    print(api_5_min)

https://data.sensor.community/airrohr/v1/sensor/1106/
https://data.sensor.community/airrohr/v1/sensor/1107/
https://data.sensor.community/airrohr/v1/sensor/3217/
https://data.sensor.community/airrohr/v1/sensor/3311/
https://data.sensor.community/airrohr/v1/sensor/3312/
https://data.sensor.community/airrohr/v1/sensor/3347/
https://data.sensor.community/airrohr/v1/sensor/3348/
https://data.sensor.community/airrohr/v1/sensor/3401/
https://data.sensor.community/airrohr/v1/sensor/3402/
https://data.sensor.community/airrohr/v1/sensor/4650/
https://data.sensor.community/airrohr/v1/sensor/4651/
https://data.sensor.community/airrohr/v1/sensor/4694/
https://data.sensor.community/airrohr/v1/sensor/4695/
https://data.sensor.community/airrohr/v1/sensor/5553/
https://data.sensor.community/airrohr/v1/sensor/5554/
https://data.sensor.community/airrohr/v1/sensor/5722/
https://data.sensor.community/airrohr/v1/sensor/5723/
https://data.sensor.community/airrohr/v1/sensor/5801/
https://data.sensor.community/airrohr/v1/sensor/5802/
https://data.sensor.community/airrohr/v1/sensor/6143/
https://data.sensor.community/airrohr/v1/sensor/6144/
https://data.sensor.community/airrohr/v1/sensor/6864/
https://data.sensor.community/airrohr/v1/sensor/6865/
https://data.sensor.community/airrohr/v1/sensor/6902/
https://data.sensor.community/airrohr/v1/sensor/6903/
https://data.sensor.community/airrohr/v1/sensor/7719/
https://data.sensor.community/airrohr/v1/sensor/7720/
https://data.sensor.community/airrohr/v1/sensor/8596/
https://data.sensor.community/airrohr/v1/sensor/8958/
https://data.sensor.community/airrohr/v1/sensor/9398/
https://data.sensor.community/airrohr/v1/sensor/9399/
https://data.sensor.community/airrohr/v1/sensor/9722/
https://data.sensor.community/airrohr/v1/sensor/9723/
https://data.sensor.community/airrohr/v1/sensor/10059/
https://data.sensor.community/airrohr/v1/sensor/10060/
https://data.sensor.community/airrohr/v1/sensor/10230/
https://data.sensor.community/airrohr/v1/sensor/10231/
https://data.sensor.community/airrohr/v1/sensor/10416/
https://data.sensor.community/airrohr/v1/sensor/10417/
https://data.sensor.community/airrohr/v1/sensor/10493/
https://data.sensor.community/airrohr/v1/sensor/10535/
https://data.sensor.community/airrohr/v1/sensor/10536/
https://data.sensor.community/airrohr/v1/sensor/11039/
https://data.sensor.community/airrohr/v1/sensor/11041/
https://data.sensor.community/airrohr/v1/sensor/11111/
https://data.sensor.community/airrohr/v1/sensor/11112/
https://data.sensor.community/airrohr/v1/sensor/11447/
https://data.sensor.community/airrohr/v1/sensor/11448/
https://data.sensor.community/airrohr/v1/sensor/11524/
https://data.sensor.community/airrohr/v1/sensor/11525/
https://data.sensor.community/airrohr/v1/sensor/11535/
https://data.sensor.community/airrohr/v1/sensor/11536/
https://data.sensor.community/airrohr/v1/sensor/11827/
https://data.sensor.community/airrohr/v1/sensor/11893/
https://data.sensor.community/airrohr/v1/sensor/11894/
https://data.sensor.community/airrohr/v1/sensor/12048/
https://data.sensor.community/airrohr/v1/sensor/12049/
https://data.sensor.community/airrohr/v1/sensor/12459/
https://data.sensor.community/airrohr/v1/sensor/12460/
https://data.sensor.community/airrohr/v1/sensor/12519/
https://data.sensor.community/airrohr/v1/sensor/12520/
https://data.sensor.community/airrohr/v1/sensor/12650/
https://data.sensor.community/airrohr/v1/sensor/12947/
https://data.sensor.community/airrohr/v1/sensor/12948/
https://data.sensor.community/airrohr/v1/sensor/12949/
https://data.sensor.community/airrohr/v1/sensor/13435/
https://data.sensor.community/airrohr/v1/sensor/13436/
https://data.sensor.community/airrohr/v1/sensor/13496/
https://data.sensor.community/airrohr/v1/sensor/13497/
https://data.sensor.community/airrohr/v1/sensor/13953/
https://data.sensor.community/airrohr/v1/sensor/13954/
https://data.sensor.community/airrohr/v1/sensor/14030/
https://data.sensor.community/airrohr/v1/sensor/14031/
https://data.sensor.community/airrohr/v1/sensor/15077/
https://data.sensor.community/airrohr/v1/sensor/16826/
https://data.sensor.community/airrohr/v1/sensor/16827/
https://data.sensor.community/airrohr/v1/sensor/18711/
https://data.sensor.community/airrohr/v1/sensor/18712/
https://data.sensor.community/airrohr/v1/sensor/18713/
https://data.sensor.community/airrohr/v1/sensor/18897/
https://data.sensor.community/airrohr/v1/sensor/18898/
https://data.sensor.community/airrohr/v1/sensor/19173/
https://data.sensor.community/airrohr/v1/sensor/19174/
https://data.sensor.community/airrohr/v1/sensor/19735/
https://data.sensor.community/airrohr/v1/sensor/19736/
https://data.sensor.community/airrohr/v1/sensor/19810/
https://data.sensor.community/airrohr/v1/sensor/19811/
https://data.sensor.community/airrohr/v1/sensor/20535/
https://data.sensor.community/airrohr/v1/sensor/20855/
https://data.sensor.community/airrohr/v1/sensor/20856/
https://data.sensor.community/airrohr/v1/sensor/21769/
https://data.sensor.community/airrohr/v1/sensor/21770/
https://data.sensor.community/airrohr/v1/sensor/22995/
https://data.sensor.community/airrohr/v1/sensor/22996/
https://data.sensor.community/airrohr/v1/sensor/23561/
https://data.sensor.community/airrohr/v1/sensor/23562/
https://data.sensor.community/airrohr/v1/sensor/24044/
https://data.sensor.community/airrohr/v1/sensor/24045/
https://data.sensor.community/airrohr/v1/sensor/24216/
https://data.sensor.community/airrohr/v1/sensor/24217/
https://data.sensor.community/airrohr/v1/sensor/24485/
https://data.sensor.community/airrohr/v1/sensor/24486/
https://data.sensor.community/airrohr/v1/sensor/24897/
https://data.sensor.community/airrohr/v1/sensor/25479/
https://data.sensor.community/airrohr/v1/sensor/25559/
https://data.sensor.community/airrohr/v1/sensor/25560/
https://data.sensor.community/airrohr/v1/sensor/25669/
https://data.sensor.community/airrohr/v1/sensor/25670/
https://data.sensor.community/airrohr/v1/sensor/25944/
https://data.sensor.community/airrohr/v1/sensor/25945/
https://data.sensor.community/airrohr/v1/sensor/27113/
https://data.sensor.community/airrohr/v1/sensor/27114/
https://data.sensor.community/airrohr/v1/sensor/28009/
https://data.sensor.community/airrohr/v1/sensor/28010/
https://data.sensor.community/airrohr/v1/sensor/28547/
https://data.sensor.community/airrohr/v1/sensor/28548/
https://data.sensor.community/airrohr/v1/sensor/28551/
https://data.sensor.community/airrohr/v1/sensor/28552/
https://data.sensor.community/airrohr/v1/sensor/29120/
https://data.sensor.community/airrohr/v1/sensor/29121/
https://data.sensor.community/airrohr/v1/sensor/31384/
https://data.sensor.community/airrohr/v1/sensor/31990/
https://data.sensor.community/airrohr/v1/sensor/31991/
https://data.sensor.community/airrohr/v1/sensor/32715/
https://data.sensor.community/airrohr/v1/sensor/32786/
https://data.sensor.community/airrohr/v1/sensor/32787/
https://data.sensor.community/airrohr/v1/sensor/33443/
https://data.sensor.community/airrohr/v1/sensor/33743/
https://data.sensor.community/airrohr/v1/sensor/34573/
https://data.sensor.community/airrohr/v1/sensor/34574/
https://data.sensor.community/airrohr/v1/sensor/34930/
https://data.sensor.community/airrohr/v1/sensor/34931/
https://data.sensor.community/airrohr/v1/sensor/37865/
https://data.sensor.community/airrohr/v1/sensor/37866/
https://data.sensor.community/airrohr/v1/sensor/37910/
https://data.sensor.community/airrohr/v1/sensor/38226/
https://data.sensor.community/airrohr/v1/sensor/38227/
https://data.sensor.community/airrohr/v1/sensor/38241/
https://data.sensor.community/airrohr/v1/sensor/38715/
https://data.sensor.community/airrohr/v1/sensor/38716/
https://data.sensor.community/airrohr/v1/sensor/41629/
https://data.sensor.community/airrohr/v1/sensor/41630/
https://data.sensor.community/airrohr/v1/sensor/42700/
https://data.sensor.community/airrohr/v1/sensor/42701/
https://data.sensor.community/airrohr/v1/sensor/43413/
https://data.sensor.community/airrohr/v1/sensor/43414/
https://data.sensor.community/airrohr/v1/sensor/43610/
https://data.sensor.community/airrohr/v1/sensor/43611/
https://data.sensor.community/airrohr/v1/sensor/43657/
https://data.sensor.community/airrohr/v1/sensor/43673/
https://data.sensor.community/airrohr/v1/sensor/43787/
https://data.sensor.community/airrohr/v1/sensor/44117/
https://data.sensor.community/airrohr/v1/sensor/44456/
https://data.sensor.community/airrohr/v1/sensor/44457/
https://data.sensor.community/airrohr/v1/sensor/45384/
https://data.sensor.community/airrohr/v1/sensor/45385/
https://data.sensor.community/airrohr/v1/sensor/45466/
https://data.sensor.community/airrohr/v1/sensor/45467/
https://data.sensor.community/airrohr/v1/sensor/45540/
https://data.sensor.community/airrohr/v1/sensor/45541/
https://data.sensor.community/airrohr/v1/sensor/45734/
https://data.sensor.community/airrohr/v1/sensor/45735/
https://data.sensor.community/airrohr/v1/sensor/45974/
https://data.sensor.community/airrohr/v1/sensor/45975/
https://data.sensor.community/airrohr/v1/sensor/46036/
https://data.sensor.community/airrohr/v1/sensor/46037/
https://data.sensor.community/airrohr/v1/sensor/46086/
https://data.sensor.community/airrohr/v1/sensor/46087/
https://data.sensor.community/airrohr/v1/sensor/46328/
https://data.sensor.community/airrohr/v1/sensor/46329/
https://data.sensor.community/airrohr/v1/sensor/49139/
https://data.sensor.community/airrohr/v1/sensor/51216/
https://data.sensor.community/airrohr/v1/sensor/51366/
https://data.sensor.community/airrohr/v1/sensor/51660/
https://data.sensor.community/airrohr/v1/sensor/51661/
https://data.sensor.community/airrohr/v1/sensor/52047/
https://data.sensor.community/airrohr/v1/sensor/52686/
https://data.sensor.community/airrohr/v1/sensor/53169/
https://data.sensor.community/airrohr/v1/sensor/53170/
https://data.sensor.community/airrohr/v1/sensor/54853/
https://data.sensor.community/airrohr/v1/sensor/54854/
https://data.sensor.community/airrohr/v1/sensor/55224/
https://data.sensor.community/airrohr/v1/sensor/55368/
https://data.sensor.community/airrohr/v1/sensor/55369/
https://data.sensor.community/airrohr/v1/sensor/55684/
https://data.sensor.community/airrohr/v1/sensor/59434/
https://data.sensor.community/airrohr/v1/sensor/59435/
https://data.sensor.community/airrohr/v1/sensor/59651/
https://data.sensor.community/airrohr/v1/sensor/59652/
https://data.sensor.community/airrohr/v1/sensor/60098/
https://data.sensor.community/airrohr/v1/sensor/60099/
https://data.sensor.community/airrohr/v1/sensor/60116/
https://data.sensor.community/airrohr/v1/sensor/60522/
https://data.sensor.community/airrohr/v1/sensor/60523/
https://data.sensor.community/airrohr/v1/sensor/61383/
https://data.sensor.community/airrohr/v1/sensor/61384/
https://data.sensor.community/airrohr/v1/sensor/63157/
https://data.sensor.community/airrohr/v1/sensor/63158/
https://data.sensor.community/airrohr/v1/sensor/64052/
https://data.sensor.community/airrohr/v1/sensor/64053/
https://data.sensor.community/airrohr/v1/sensor/68334/
https://data.sensor.community/airrohr/v1/sensor/68691/
https://data.sensor.community/airrohr/v1/sensor/69172/
https://data.sensor.community/airrohr/v1/sensor/69173/
https://data.sensor.community/airrohr/v1/sensor/70584/
https://data.sensor.community/airrohr/v1/sensor/70584/
https://data.sensor.community/airrohr/v1/sensor/70584/
https://data.sensor.community/airrohr/v1/sensor/72362/
https://data.sensor.community/airrohr/v1/sensor/72954/
https://data.sensor.community/airrohr/v1/sensor/72955/
https://data.sensor.community/airrohr/v1/sensor/73089/
https://data.sensor.community/airrohr/v1/sensor/74894/
https://data.sensor.community/airrohr/v1/sensor/74895/
https://data.sensor.community/airrohr/v1/sensor/74941/
https://data.sensor.community/airrohr/v1/sensor/76377/
https://data.sensor.community/airrohr/v1/sensor/76378/
https://data.sensor.community/airrohr/v1/sensor/76378/
https://data.sensor.community/airrohr/v1/sensor/76846/
https://data.sensor.community/airrohr/v1/sensor/76847/
https://data.sensor.community/airrohr/v1/sensor/77457/

# Umweltbundesamt

DERP001	Ludwigshafen-Oppau	städtisches Gebiet	Hintergrund 49.514965, 8.402263
DEBW005	Mannheim-Nord	vorstädtisches Gebiet	Industrie 49.544096, 8.465580
DERP003	Ludwigshafen-Mundenheim	städtisches Gebiet	Industrie 49.455507, 8.425903
DEBW098	Mannheim Friedrichsring	städtisches Gebiet	Verkehr 49.492489, 8.471794
DERP041	Ludwigshafen-Heinigstraße	städtisches Gebiet	Verkehr 49.478344, 8.443919

In [44]:
import pandas as pd

data = {'id': ['DERP001', 'DEBW005', 'DERP003', 'DEBW098', 'DERP041'],
        'location': ['Ludwigshafen-Oppau', 'Mannheim-Nord', 'Ludwigshafen-Mundenheim', 'Mannheim Friedrichsring', 'Ludwigshafen-Heinigstraße'],
        'area_type': ['städtisches Gebiet', 'vorstädtisches Gebiet', 'städtisches Gebiet', 'städtisches Gebiet', 'städtisches Gebiet'],
        'pollutant_type': ['Hintergrund', 'Industrie', 'Industrie', 'Verkehr', 'Verkehr'],
        'latitude': [49.514965, 49.544096, 49.455507, 49.492489, 49.478344],
        'longitude': [8.402263, 8.465580, 8.425903, 8.471794, 8.443919]}

df = pd.DataFrame(data)

df

,id,location,area_type,pollutant_type,latitude,longitude
0,DERP001,Ludwigshafen-Oppau,städtisches Gebiet,Hintergrund,49.514965,8.402263
1,DEBW005,Mannheim-Nord,vorstädtisches Gebiet,Industrie,49.544096,8.465580
2,DERP003,Ludwigshafen-Mundenheim,städtisches Gebiet,Industrie,49.455507,8.425903
3,DEBW098,Mannheim Friedrichsring,städtisches Gebiet,Verkehr,49.492489,8.471794
4,DERP041,Ludwigshafen-Heinigstraße,städtisches Gebiet,Verkehr,49.478344,8.443919

In [1]:
import pandas as pd

data = {'id': ['DEBW005', 'DEBW006', 'DEBW098', 'DEBW007'],
        'location': ['Mannheim-Nord', 'Mannheim-Mitte', 'Mannheim-Straße', 'Mannheim-Süd'],
        'area_type': ['vorstädtisches Gebiet', 'städtisches Gebiet', 'städtisches Gebiet', 'vorstädtisches Gebiet'],
        'pollutant_type': ['Industrie', 'Reichskanzler/Müllerstr.', 'Friedrichsring/U2 (Verkehr)', 'Mutterstädter Platz'],
        'latitude': [49.54399218, 49.47571364, 49.49254024, 49.43230992],
        'longitude': [8.46593479, 8.47803432, 8.47103501, 8.52552838]}

df = pd.DataFrame(data)

df

,id,location,area_type,pollutant_type,latitude,longitude
0,DEBW005,Mannheim-Nord,vorstädtisches Gebiet,Industrie,49.543992,8.465935
1,DEBW006,Mannheim-Mitte,städtisches Gebiet,Reichskanzler/Müllerstr.,49.475714,8.478034
2,DEBW098,Mannheim-Straße,städtisches Gebiet,Friedrichsring/U2 (Verkehr),49.492540,8.471035
3,DEBW007,Mannheim-Süd,vorstädtisches Gebiet,Mutterstädter Platz,49.432310,8.525528

Abfrage der Tagesmittelwerte für Feinstaub (PM10)

In [5]:
from pandas import json_normalize
import requests
import json

date_from = '2021-03-01'
date_to = '2022-02-28'

for station in df.id:
    uba_pm10_day_mean = f'https://www.umweltbundesamt.de/api/air_data/v2/measures/json?date_from={date_from}&date_to={date_to}&time_from=1&time_to=24&station={station}&component=1&scope=1'
    print(uba_pm10_day_mean)
    response = requests.get(uba_pm10_day_mean)#.json()
    json_data = json.loads(response.text)

    # convert the JSON data to a pandas dataframe
    data = pd.DataFrame(json_data)
    print(data)

    # display the dataframe
    #data.head()

https://www.umweltbundesamt.de/api/air_data/v2/measures/json?date_from=2021-03-01&date_to=2022-02-28&time_from=1&time_to=24&station=DEBW005&component=1&scope=1
                           request  \
component                        1
scope                            1
station                        216
date_from               2021-03-01
date_to                 2022-02-28
time_from                 01:00:00
time_to                   24:00:00
index                           id
lang                            en
datetime_from  2021-03-01 00:00:00
datetime_to    2022-02-28 23:00:00
data                           NaN
216                            NaN

                                                         indices  \
component                                                    NaN
scope                                                        NaN
station                                                      NaN
date_from                                                    NaN
date_to                                                      NaN
time_from                                                    NaN
time_to                                                      NaN
index                                                        NaN
lang                                                         NaN
datetime_from                                                NaN
datetime_to                                                  NaN
data           {'station id': {'date start': ['component id',...
216                                                          NaN

                                                            data
component                                                    NaN
scope                                                        NaN
station                                                      NaN
date_from                                                    NaN
date_to                                                      NaN
time_from                                                    NaN
time_to                                                      NaN
index                                                        NaN
lang                                                         NaN
datetime_from                                                NaN
datetime_to                                                  NaN
data                                                         NaN
216            {'2021-03-01 11:00:00': [1, 1, 17, '2021-03-01...
https://www.umweltbundesamt.de/api/air_data/v2/measures/json?date_from=2021-03-01&date_to=2022-02-28&time_from=1&time_to=24&station=DEBW006&component=1&scope=1
                           request  \
component                        1
scope                            1
station                        217
date_from               2021-03-01
date_to                 2022-02-28
time_from                 01:00:00
time_to                   24:00:00
index                           id
lang                            en
datetime_from  2021-03-01 00:00:00
datetime_to    2022-02-28 23:00:00
data                           NaN

                                                         indices  data
component                                                    NaN   NaN
scope                                                        NaN   NaN
station                                                      NaN   NaN
date_from                                                    NaN   NaN
date_to                                                      NaN   NaN
time_from                                                    NaN   NaN
time_to                                                      NaN   NaN
index                                                        NaN   NaN
lang                                                         NaN   NaN
datetime_from                                                NaN   NaN
datetime_to                                                  NaN   NaN
data           {'station id': {'date start': ['component id',...   NaN
https://www.umweltbundesamt.de/api/air_data/v2/measures/json?date_from=2021-03-01&date_to=2022-02-28&time_from=1&time_to=24&station=DEBW098&component=1&scope=1
                           request  \
component                        1
scope                            1
station                        299
date_from               2021-03-01
date_to                 2022-02-28
time_from                 01:00:00
time_to                   24:00:00
index                           id
lang                            en
datetime_from  2021-03-01 00:00:00
datetime_to    2022-02-28 23:00:00
data                           NaN
299                            NaN

                                                         indices  \
component                                                    NaN
scope                                                        NaN
station                                                      NaN
date_from                                                    NaN
date_to                                                      NaN
time_from                                                    NaN
time_to                                                      NaN
index                                                        NaN
lang                                                         NaN
datetime_from                                                NaN
datetime_to                                                  NaN
data           {'station id': {'date start': ['component id',...
299                                                          NaN

                                                            data
component                                                    NaN
scope                                                        NaN
station                                                      NaN
date_from                                                    NaN
date_to                                                      NaN
time_from                                                    NaN
time_to                                                      NaN
index                                                        NaN
lang                                                         NaN
datetime_from                                                NaN
datetime_to                                                  NaN
data                                                         NaN
299            {'2021-03-01 11:00:00': [1, 1, 26, '2021-03-01...
https://www.umweltbundesamt.de/api/air_data/v2/measures/json?date_from=2021-03-01&date_to=2022-02-28&time_from=1&time_to=24&station=DEBW007&component=1&scope=1
                           request  \
component                        1
scope                            1
station                        218
date_from               2021-03-01
date_to                 2022-02-28
time_from                 01:00:00
time_to                   24:00:00
index                           id
lang                            en
datetime_from  2021-03-01 00:00:00
datetime_to    2022-02-28 23:00:00
data                           NaN

                                                         indices  data
component                                                    NaN   NaN
scope                                                        NaN   NaN
station                                                      NaN   NaN
date_from                                                    NaN   NaN
date_to                                                      NaN   NaN
time_from                                                    NaN   NaN
time_to                                                      NaN   NaN
index                                                        NaN   NaN
lang                                                         NaN   NaN
datetime_from                                                NaN   NaN
datetime_to                                                  NaN   NaN
data           {'station id': {'date start': ['component id',...   NaN

In [53]:
data.indices.data

{'station id': {'date start': ['component id',
   'scope id',
   'value',
   'date end',
   'index']}}

In [59]:
import json
import pandas as pd
import requests

# make a request to the UBA API and get the JSON response
uba_pm10_day_mean = 'https://www.umweltbundesamt.de/api/air_data/v2/annualbalances/json?component=1&year=2022&lang=de'
response = requests.get(uba_pm10_day_mean)
json_data = json.loads(response.text)

# flatten the nested data using json_normalize()
data = pd.json_normalize(json_data, 'data')

# display the dataframe
data.head()

    0   1  2
0  21  16  0
1  31  16  5
2  42  17  3
3  43  16  1
4  46  15  2