## Data Preparation Dublin

In [3]:
import pandas as pd
dublin_air = pd.read_csv("data/AirView_DublinCity_Measurements_ugm3.csv")

In [4]:
dublin_air.head()

,gps_timestamp,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PMch1_perL,PMch2_perL,PMch3_perL,PMch4_perL,PMch5_perL,PMch6_perL,PM25_ugm3
0,2022-04-07 14:56:36 UTC,53.346434,-6.263997,-13.526,11.724,NaN,0.293,765.328,6240.0,1860.0,1380.0,480.0,60.0,120.0,4.927
1,2022-04-07 14:56:37 UTC,53.346434,-6.263997,-29.957,4.441,NaN,0.291,NaN,4800.0,1380.0,1020.0,240.0,240.0,60.0,4.240
2,2022-04-07 14:56:38 UTC,53.346434,-6.263997,-9.260,8.725,59.109,0.299,NaN,6300.0,1800.0,1140.0,600.0,60.0,60.0,4.204
3,2022-04-07 14:56:39 UTC,53.346434,-6.263997,-22.847,7.023,NaN,0.295,NaN,5040.0,1800.0,1080.0,300.0,60.0,60.0,3.410
4,2022-04-07 14:56:40 UTC,53.346434,-6.263997,-9.225,15.591,NaN,0.296,763.271,5580.0,1920.0,1260.0,480.0,60.0,60.0,4.003

In [5]:
# count na values in each column
dublin_air.isna().sum()

gps_timestamp          0
latitude               0
longitude              0
NO_ugm3           418699
NO2_ugm3         1165108
O3_ugm3          3582771
CO_mgm3           321269
CO2_mgm3          898496
PMch1_perL         89877
PMch2_perL         89877
PMch3_perL         89877
PMch4_perL         89877
PMch5_perL         89877
PMch6_perL         89877
PM25_ugm3          89877
dtype: int64

In [6]:
# drop columns by index
dublin_air.drop(dublin_air.columns[8:14], axis=1, inplace=True)

In [7]:
dublin_air.head()

,gps_timestamp,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PM25_ugm3
0,2022-04-07 14:56:36 UTC,53.346434,-6.263997,-13.526,11.724,NaN,0.293,765.328,4.927
1,2022-04-07 14:56:37 UTC,53.346434,-6.263997,-29.957,4.441,NaN,0.291,NaN,4.240
2,2022-04-07 14:56:38 UTC,53.346434,-6.263997,-9.260,8.725,59.109,0.299,NaN,4.204
3,2022-04-07 14:56:39 UTC,53.346434,-6.263997,-22.847,7.023,NaN,0.295,NaN,3.410
4,2022-04-07 14:56:40 UTC,53.346434,-6.263997,-9.225,15.591,NaN,0.296,763.271,4.003

In [8]:
dublin_air.dtypes

gps_timestamp     object
latitude         float64
longitude        float64
NO_ugm3          float64
NO2_ugm3         float64
O3_ugm3          float64
CO_mgm3          float64
CO2_mgm3         float64
PM25_ugm3        float64
dtype: object

In [9]:
# Convert 'gps_timestamp' to datetime
dublin_air['gps_timestamp'] = pd.to_datetime(dublin_air['gps_timestamp'])

# Extract the date from 'gps_timestamp'
dublin_air['date'] = dublin_air['gps_timestamp'].dt.date

# Drop the 'gps_timestamp' column as it's no longer needed
dublin_air= dublin_air.drop(columns='gps_timestamp')

# Group by 'date', 'latitude', and 'longitude' and calculate the mean
daily_average = dublin_air.groupby(['date', 'latitude', 'longitude']).mean().reset_index()

In [10]:
daily_average.head()

,date,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PM25_ugm3
0,2021-05-06,53.301941,-6.297264,-3.915,4.311,NaN,0.540,799.317,1.915
1,2021-05-06,53.301961,-6.297326,-23.507,2.268,73.538,0.526,803.419,4.428
2,2021-05-06,53.301979,-6.297364,-17.819,7.120,NaN,0.543,807.597,6.649
3,2021-05-06,53.301982,-6.297372,-33.715,9.264,NaN,0.604,869.329,5.103
4,2021-05-06,53.301983,-6.297372,-22.023,8.941,NaN,0.583,840.557,4.223

In [11]:
# count na values in each column
daily_average.isna().sum()

date               0
latitude           0
longitude          0
NO_ugm3       305167
NO2_ugm3      838791
O3_ugm3      2620828
CO_mgm3       234698
CO2_mgm3      656295
PM25_ugm3      62204
dtype: int64

In [12]:
daily_average

,date,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PM25_ugm3
0,2021-05-06,53.301941,-6.297264,-3.915,4.311,NaN,0.540,799.317,1.915
1,2021-05-06,53.301961,-6.297326,-23.507,2.268,73.538,0.526,803.419,4.428
2,2021-05-06,53.301979,-6.297364,-17.819,7.120,NaN,0.543,807.597,6.649
3,2021-05-06,53.301982,-6.297372,-33.715,9.264,NaN,0.604,869.329,5.103
4,2021-05-06,53.301983,-6.297372,-22.023,8.941,NaN,0.583,840.557,4.223
...,...,...,...,...,...,...,...,...,...
3746162,2022-08-05,53.410741,-6.225471,-1.241,NaN,NaN,0.269,789.284,2.229
3746163,2022-08-05,53.410790,-6.225570,-9.979,NaN,NaN,0.264,791.036,6.281
3746164,2022-08-05,53.410829,-6.225673,-19.696,NaN,NaN,0.283,792.849,4.766
3746165,2022-08-05,53.410857,-6.225767,-37.213,NaN,NaN,0.291,794.705,3.051
3746166,2022-08-05,53.410879,-6.225858,-23.052,NaN,NaN,0.299,796.529,4.403

In [13]:
# drop NAs for ML
daily_average.drop

<bound method DataFrame.drop of                date   latitude  longitude  NO_ugm3  NO2_ugm3  O3_ugm3  \
0        2021-05-06  53.301941  -6.297264   -3.915     4.311      NaN
1        2021-05-06  53.301961  -6.297326  -23.507     2.268   73.538
2        2021-05-06  53.301979  -6.297364  -17.819     7.120      NaN
3        2021-05-06  53.301982  -6.297372  -33.715     9.264      NaN
4        2021-05-06  53.301983  -6.297372  -22.023     8.941      NaN
...             ...        ...        ...      ...       ...      ...
3746162  2022-08-05  53.410741  -6.225471   -1.241       NaN      NaN
3746163  2022-08-05  53.410790  -6.225570   -9.979       NaN      NaN
3746164  2022-08-05  53.410829  -6.225673  -19.696       NaN      NaN
3746165  2022-08-05  53.410857  -6.225767  -37.213       NaN      NaN
3746166  2022-08-05  53.410879  -6.225858  -23.052       NaN      NaN

         CO_mgm3  CO2_mgm3  PM25_ugm3
0          0.540   799.317      1.915
1          0.526   803.419      4.428
2          0.543   807.597      6.649
3          0.604   869.329      5.103
4          0.583   840.557      4.223
...          ...       ...        ...
3746162    0.269   789.284      2.229
3746163    0.264   791.036      6.281
3746164    0.283   792.849      4.766
3746165    0.291   794.705      3.051
3746166    0.299   796.529      4.403

[3746167 rows x 9 columns]>

# Feature Expansion
---
First we are enriching the dataset with local weather data. We assume that these weather data could be good indicators to predict air pollution:
-  Additional Weather Parameters for Air Quality Prediction:
-  Humidity: Can influence the concentration and dispersion of air pollutants.
-  Wind Speed: Affects the dispersion of pollutants; higher wind speeds can disperse pollutants more effectively.
-  Cloud Cover: Influences solar radiation and, indirectly, chemical reactions in the atmosphere that can affect pollutants.
- Precipitation (PrecipMM): Rain can remove pollutants from the air, improving air quality.
-  Atmospheric Pressure: High pressure can lead to more stable atmospheric conditions, potentially trapping pollutants near the ground.

For that we used the https://www.worldweatheronline.com/weather-api for Dublin

In [14]:
import requests
import pandas as pd

# API endpoint
url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"

# Parameters
params = {
    "key": "2b47535ff26a46f58c4124129241104",  # Your API key
    "q": "Dublin",  # Query location
    "format": "json",
    "date": "2021-05-01",  # Start date for historical data
    "enddate": "2022-08-31",  # End date for historical data
    "includelocation": "yes",
    "tp": "24"  # Time period: 24 hours
}

# Making the GET request
response = requests.get(url, params=params)

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()
    
    # Extracting location data
    location_data = data.get('data', {}).get('nearest_area', [{}])[0]
    latitude = location_data.get('latitude', 'Unknown')
    longitude = location_data.get('longitude', 'Unknown')
    
    # Extracting the weather data
    weather_data = data.get('data', {}).get('weather', [])
    
    # Creating a list to store each day's weather information
    weather_list = []
    
    for day in weather_data:
        # For each day, create a dictionary with more detailed weather data
        hourly_data = day.get('hourly', [{}])[0]  # Assuming first entry contains summary data for the day
        day_data = {
            'date': day['date'],
            'avgtempC': day['avgtempC'],
            'maxtempC': day['maxtempC'],
            'mintempC': day['mintempC'],
            'sunHour': day['sunHour'],
            'uvIndex': day['uvIndex'],
            'humidity': hourly_data['humidity'],
            'windspeedKmph': hourly_data['windspeedKmph'],
            'cloudcover': hourly_data['cloudcover'],
            'precipMM': hourly_data['precipMM'],  # Precipitation can also influence air quality
            'pressure': hourly_data['pressure'],  # Atmospheric pressure can affect air pollutant dispersion
            'latitude': latitude,
            'longitude': longitude,
        }
        weather_list.append(day_data)
    
    # Convert the list of dictionaries to a pandas DataFrame
    weather_df = pd.DataFrame(weather_list)
    
    # print(weather_df.head())  # Print the first few rows to verify
    
    # Optionally, save the DataFrame to a CSV file
    # weather_df.to_csv('dublin_weather_may2021_aug2022_extended.csv', index=False)
else:
    print("Failed to fetch data. Status Code:", response.status_code)

In [22]:
# convert 
daily_average

,date,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PM25_ugm3
0,2021-05-06,53.301941,-6.297264,-3.915,4.311,NaN,0.540,799.317,1.915
1,2021-05-06,53.301961,-6.297326,-23.507,2.268,73.538,0.526,803.419,4.428
2,2021-05-06,53.301979,-6.297364,-17.819,7.120,NaN,0.543,807.597,6.649
3,2021-05-06,53.301982,-6.297372,-33.715,9.264,NaN,0.604,869.329,5.103
4,2021-05-06,53.301983,-6.297372,-22.023,8.941,NaN,0.583,840.557,4.223
...,...,...,...,...,...,...,...,...,...
3746162,2022-08-05,53.410741,-6.225471,-1.241,NaN,NaN,0.269,789.284,2.229
3746163,2022-08-05,53.410790,-6.225570,-9.979,NaN,NaN,0.264,791.036,6.281
3746164,2022-08-05,53.410829,-6.225673,-19.696,NaN,NaN,0.283,792.849,4.766
3746165,2022-08-05,53.410857,-6.225767,-37.213,NaN,NaN,0.291,794.705,3.051
3746166,2022-08-05,53.410879,-6.225858,-23.052,NaN,NaN,0.299,796.529,4.403

In [24]:
# merging with air pollution dataset

# Merge the dataframes on the 'date' column, using an inner join
merged_df = pd.merge(weather_df, daily_average, on='date', how='inner')

# Check the result
merged_df.head()

Empty DataFrame
Columns: [date, avgtempC, maxtempC, mintempC, sunHour, uvIndex, humidity, windspeedKmph, cloudcover, precipMM, pressure, latitude_x, longitude_x, latitude_y, longitude_y, NO_ugm3, NO2_ugm3, O3_ugm3, CO_mgm3, CO2_mgm3, PM25_ugm3]
Index: []

[0 rows x 21 columns]

In this iPython notebook, the Overpass API from Open Street Maps is used to determine the location of all traffic signals within a given bounding box. The Overpy library is used to send the request to the API and this call returns the latitude and longitude of all traffic signals. Next, the distance between each traffic intersection and each point in the monitoring data is measured. A traffic score is calculated as the 'Number of traffic intersections within a 1,000 ft buffer' to each point in the monitoring data

The second section of this notebook uses the Overpass API to get the latitude and longitude of all points within a bounding box classified as a highway. Next, the distance from each monitoring location to the closest highway is determined.

In [16]:
#Import python packages including overpy
import overpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point, Polygon
from shapely.ops import nearest_points

import seaborn as sns

from mpl_toolkits.axes_grid1 import make_axes_locatable

import math

import time


from scipy.stats import boxcox


from matplotlib import cm

import matplotlib.lines as mlines

sns.set(style = 'whitegrid')
sns.set_palette('bright')
%matplotlib inline

# <b> <font size = 5> Fetch all nodes using the API Query. Here the node is specified as 'Highway=traffic_signals' </b> </font>

In [17]:
#Call overpass API and pass bounding box. 
api = overpy.Overpass()
result = api.query("""
    node(-6.314427,53.322431,-6.207662,53.36923) ["highway"="traffic_signals"];
    (._;>;);
    out body;
    """)
traffic_lat = []
traffic_lon = []
for node in result.nodes:
    traffic_lat.append(node.lat)
    traffic_lon.append(node.lon)

In [18]:
traffic_lat

[]

In [19]:
#Write Latitude and Longitude data to a dataframe
traffic_df = pd.DataFrame(list(zip(traffic_lat, traffic_lon)), columns = ['Latitude', 'Longitude'])

##### Write to csv
traffic_df.to_csv("Data/Raw-data/all_traffic_intersections.csv")

# <b> <font size = 5>  Load traffic intersection data</b> </font>

In [20]:
traffic_df = pd.read_csv("Data/Raw-data/all_traffic_intersections.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Data/Raw-data/all_traffic_intersections.csv'

In [ ]:
#Drop the first column
traffic_df.drop(columns = ['Unnamed: 0'], inplace=True)

In [ ]:
## Rename index and intersection number
traffic_df.rename(columns = {'index':'Intersection'}, inplace=True)

In [ ]:
### Add an empty column for distance
traffic_df['dist'] = 0
traffic_df['dist'].astype(float)

# Traffic Count Data

In [1]:
import pandas as pd
traffic_counts = pd.read_csv("data/SCATSJanuary2021.csv")

# Display the first few rows of the dataframe
traffic_counts.head()

,End_Time,Region,Site,Detector,Sum_Volume,Avg_Volume,Weighted_Avg,Weighted_Var,Weighted_Std_Dev
0,20210101000000,IRE,6042,2,16,1,NaN,NaN,NaN
1,20210101000000,IRE,6042,3,5,0,NaN,NaN,NaN
2,20210101000000,IRE,6042,6,23,1,NaN,NaN,NaN
3,20210101000000,IRE,6042,7,29,2,NaN,NaN,NaN
4,20210101000000,IRE,6042,8,13,1,NaN,NaN,NaN

In [3]:
# load traffic signals for location data
traffic_sites = pd.read_csv("data/dcc_traffic_signals_20221130.csv")

# Display the first few rows of the dataframe
traffic_sites.tail()

,SiteID,Site_Description_Cap,Site_Description_Lower,Region,Lat,Long,Site_Type
820,964,NORTH CIRCULAR ROAD @ TUD,north circular road @ tud,WCITY1,53.357519,-6.286843,SCATS Site
821,965,HOLE IN THE WALL / MARSFIELD BELMAYNE,hole in the wall / marsfield belmayne,DCC1,53.408150,-6.161950,SCATS Site
822,968,BRIDE ST @ BRIDE RD,bride st @ bride rd,SCITY,53.341474,-6.270088,SCATS Site
823,974,BLACKHORSE AVE @ NEPHIN RD,blackhorse ave @ nephin rd,WCITY1,53.362728,-6.311709,SCATS Site
824,1002,HEUSTON STATION ACCESS (LUAS),heuston station access (luas),CCITY,53.347053,-6.291793,SCATS Site