## Data Preparation Dublin

In [1]:
import pandas as pd
dublin_air = pd.read_csv("data/AirView_DublinCity_Measurements_ugm3.csv")

/var/folders/96/d0b81fgx57nf5q8xrlw36p1w0000gn/T/ipykernel_99738/2537370279.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
dublin_air.head()

,gps_timestamp,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PMch1_perL,PMch2_perL,PMch3_perL,PMch4_perL,PMch5_perL,PMch6_perL,PM25_ugm3
0,2022-04-07 14:56:36 UTC,53.346434,-6.263997,-13.526,11.724,NaN,0.293,765.328,6240.0,1860.0,1380.0,480.0,60.0,120.0,4.927
1,2022-04-07 14:56:37 UTC,53.346434,-6.263997,-29.957,4.441,NaN,0.291,NaN,4800.0,1380.0,1020.0,240.0,240.0,60.0,4.240
2,2022-04-07 14:56:38 UTC,53.346434,-6.263997,-9.260,8.725,59.109,0.299,NaN,6300.0,1800.0,1140.0,600.0,60.0,60.0,4.204
3,2022-04-07 14:56:39 UTC,53.346434,-6.263997,-22.847,7.023,NaN,0.295,NaN,5040.0,1800.0,1080.0,300.0,60.0,60.0,3.410
4,2022-04-07 14:56:40 UTC,53.346434,-6.263997,-9.225,15.591,NaN,0.296,763.271,5580.0,1920.0,1260.0,480.0,60.0,60.0,4.003

In [3]:
# count na values in each column
dublin_air.isna().sum()

gps_timestamp          0
latitude               0
longitude              0
NO_ugm3           418699
NO2_ugm3         1165108
O3_ugm3          3582771
CO_mgm3           321269
CO2_mgm3          898496
PMch1_perL         89877
PMch2_perL         89877
PMch3_perL         89877
PMch4_perL         89877
PMch5_perL         89877
PMch6_perL         89877
PM25_ugm3          89877
dtype: int64

In [4]:
# drop columns by index
dublin_air.drop(dublin_air.columns[8:14], axis=1, inplace=True)

In [5]:
dublin_air.head()

,gps_timestamp,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PM25_ugm3
0,2022-04-07 14:56:36 UTC,53.346434,-6.263997,-13.526,11.724,NaN,0.293,765.328,4.927
1,2022-04-07 14:56:37 UTC,53.346434,-6.263997,-29.957,4.441,NaN,0.291,NaN,4.240
2,2022-04-07 14:56:38 UTC,53.346434,-6.263997,-9.260,8.725,59.109,0.299,NaN,4.204
3,2022-04-07 14:56:39 UTC,53.346434,-6.263997,-22.847,7.023,NaN,0.295,NaN,3.410
4,2022-04-07 14:56:40 UTC,53.346434,-6.263997,-9.225,15.591,NaN,0.296,763.271,4.003

In [6]:
dublin_air.dtypes

gps_timestamp     object
latitude         float64
longitude        float64
NO_ugm3          float64
NO2_ugm3         float64
O3_ugm3          float64
CO_mgm3          float64
CO2_mgm3         float64
PM25_ugm3        float64
dtype: object

In [7]:
# Convert 'gps_timestamp' to datetime
dublin_air['gps_timestamp'] = pd.to_datetime(dublin_air['gps_timestamp'])

# Extract the date from 'gps_timestamp'
dublin_air['date'] = dublin_air['gps_timestamp'].dt.date

# Drop the 'gps_timestamp' column as it's no longer needed
dublin_air= dublin_air.drop(columns='gps_timestamp')

# Group by 'date', 'latitude', and 'longitude' and calculate the mean
daily_average = dublin_air.groupby(['date', 'latitude', 'longitude']).mean().reset_index()

In [8]:
daily_average.head()

,date,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PM25_ugm3
0,2021-05-06,53.301941,-6.297264,-3.915,4.311,NaN,0.540,799.317,1.915
1,2021-05-06,53.301961,-6.297326,-23.507,2.268,73.538,0.526,803.419,4.428
2,2021-05-06,53.301979,-6.297364,-17.819,7.120,NaN,0.543,807.597,6.649
3,2021-05-06,53.301982,-6.297372,-33.715,9.264,NaN,0.604,869.329,5.103
4,2021-05-06,53.301983,-6.297372,-22.023,8.941,NaN,0.583,840.557,4.223

In [9]:
# count na values in each column
daily_average.isna().sum()

date               0
latitude           0
longitude          0
NO_ugm3       305167
NO2_ugm3      838791
O3_ugm3      2620828
CO_mgm3       234698
CO2_mgm3      656295
PM25_ugm3      62204
dtype: int64

In [10]:
daily_average

,date,latitude,longitude,NO_ugm3,NO2_ugm3,O3_ugm3,CO_mgm3,CO2_mgm3,PM25_ugm3
0,2021-05-06,53.301941,-6.297264,-3.915,4.311,NaN,0.540,799.317,1.915
1,2021-05-06,53.301961,-6.297326,-23.507,2.268,73.538,0.526,803.419,4.428
2,2021-05-06,53.301979,-6.297364,-17.819,7.120,NaN,0.543,807.597,6.649
3,2021-05-06,53.301982,-6.297372,-33.715,9.264,NaN,0.604,869.329,5.103
4,2021-05-06,53.301983,-6.297372,-22.023,8.941,NaN,0.583,840.557,4.223
...,...,...,...,...,...,...,...,...,...
3746162,2022-08-05,53.410741,-6.225471,-1.241,NaN,NaN,0.269,789.284,2.229
3746163,2022-08-05,53.410790,-6.225570,-9.979,NaN,NaN,0.264,791.036,6.281
3746164,2022-08-05,53.410829,-6.225673,-19.696,NaN,NaN,0.283,792.849,4.766
3746165,2022-08-05,53.410857,-6.225767,-37.213,NaN,NaN,0.291,794.705,3.051
3746166,2022-08-05,53.410879,-6.225858,-23.052,NaN,NaN,0.299,796.529,4.403

In [ ]:
# drop NAs for ML
daily_average.drop