In [3]:
import os
import pandas as pd
from datetime import datetime

# Path to the folder containing CSV files
folder_path = 'data/Traffic_Measurements'

# Get a list of all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Initialize an empty list to store the final results
daily_volume = []

# Iterate over each CSV file
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Convert 'End_Time' column to datetime
    df['End_Time'] = datetime.strptime(df['End_Time'], "%Y%m%d%H%M%S")
    
    # Extract date part from 'End_Time'
    df['Date'] = df['End_Time'].date()
    
    # Group by 'Site' and 'Date', sum 'Sum_Volume'
    daily_sum = df.groupby(['Site', 'Date'])['Sum_Volume'].sum().reset_index()
    
    # Append daily sum to the final results list
    daily_volume.append(daily_sum)

# Concatenate all daily sums into one DataFrame
final_result = pd.concat(daily_volume, ignore_index=True)

# Display the final result
print(final_result)

TypeError: strptime() argument 1 must be str, not Series

In [ ]:
import os
import pandas as pd
from datetime import datetime

# Path to the folder containing CSV files
folder_path = 'data/Traffic_Measurements'

# Get a list of all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Initialize an empty list to store the final results
daily_volume = []

# Iterate over each CSV file
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Convert 'End_Time' column to datetime using the provided method
    df['End_Time'] = df['End_Time'].apply(lambda x: datetime.strptime(str(x), "%Y%m%d%H%M%S"))
    
    # Extract date part from 'End_Time'
    df['Date'] = df['End_Time'].dt.date
    
    # Group by 'Site' and 'Date', sum 'Sum_Volume'
    daily_sum = df.groupby(['Site', 'Date'])['Sum_Volume'].sum().reset_index()
    
    # Append daily sum to the final results list
    daily_volume.append(daily_sum)

# Concatenate all daily sums into one DataFrame
final_result = pd.concat(daily_volume, ignore_index=True)

# Display the final result
print(final_result)

:

In [16]:
import pandas as pd

df1 = pd.read_csv('data/Traffic_combined.csv')
df2 = pd.read_csv('data/dcc_traffic_signals_20221130.csv')

df2 = df2.rename(columns={'SiteID': 'Site'})

merged_traffic = pd.merge(df1, df2, how='inner', on='Site')

# common_column should be the column you want to join on from both DataFrames
merged_traffic.to_csv('Traffic_merged_combined.csv', index=False)
# Display the merged DataFrame
print(merged_traffic)

        Site        Date  Sum_Volume               Site_Description_Cap  \
0          1  2022-04-01        5960   ABBEY ST @ MARLBOROUGH ST (LUAS)
1          1  2022-04-02        5094   ABBEY ST @ MARLBOROUGH ST (LUAS)
2          1  2022-04-03        3938   ABBEY ST @ MARLBOROUGH ST (LUAS)
3          1  2022-04-04        5565   ABBEY ST @ MARLBOROUGH ST (LUAS)
4          1  2022-04-05        5640   ABBEY ST @ MARLBOROUGH ST (LUAS)
...      ...         ...         ...                                ...
223208   974  2022-06-28        5885         BLACKHORSE AVE @ NEPHIN RD
223209   974  2022-06-29        5755         BLACKHORSE AVE @ NEPHIN RD
223210   974  2022-06-30        5893         BLACKHORSE AVE @ NEPHIN RD
223211   514  2021-11-16           0  KIMMAGE RD LWR @ MOUNT ARGUS VIEW
223212   639  2021-11-16           0      TONLEGEE RD @ SPRINGDALE ROAD

                   Site_Description_Lower  Region        Lat      Long  \
0        abbey st @ marlborough st (luas)   CCITY  53.348754 -6.257607
1        abbey st @ marlborough st (luas)   CCITY  53.348754 -6.257607
2        abbey st @ marlborough st (luas)   CCITY  53.348754 -6.257607
3        abbey st @ marlborough st (luas)   CCITY  53.348754 -6.257607
4        abbey st @ marlborough st (luas)   CCITY  53.348754 -6.257607
...                                   ...     ...        ...       ...
223208         blackhorse ave @ nephin rd  WCITY1  53.362728 -6.311709
223209         blackhorse ave @ nephin rd  WCITY1  53.362728 -6.311709
223210         blackhorse ave @ nephin rd  WCITY1  53.362728 -6.311709
223211  kimmage rd lwr @ mount argus view     NaN  53.319874 -6.288050
223212      tonlegee rd @ springdale road     NaN  53.390253 -6.191502

          Site_Type
0        SCATS Site
1        SCATS Site
2        SCATS Site
3        SCATS Site
4        SCATS Site
...             ...
223208   SCATS Site
223209   SCATS Site
223210   SCATS Site
223211   SCATS Site
223212  Signal Site

[223213 rows x 9 columns]

In [17]:
print(merged_traffic.shape)

merged_traffic.isna().sum()

merged_traffic.head()

(223213, 9)

,Site,Date,Sum_Volume,Site_Description_Cap,Site_Description_Lower,Region,Lat,Long,Site_Type
0,1,2022-04-01,5960,ABBEY ST @ MARLBOROUGH ST (LUAS),abbey st @ marlborough st (luas),CCITY,53.348754,-6.257607,SCATS Site
1,1,2022-04-02,5094,ABBEY ST @ MARLBOROUGH ST (LUAS),abbey st @ marlborough st (luas),CCITY,53.348754,-6.257607,SCATS Site
2,1,2022-04-03,3938,ABBEY ST @ MARLBOROUGH ST (LUAS),abbey st @ marlborough st (luas),CCITY,53.348754,-6.257607,SCATS Site
3,1,2022-04-04,5565,ABBEY ST @ MARLBOROUGH ST (LUAS),abbey st @ marlborough st (luas),CCITY,53.348754,-6.257607,SCATS Site
4,1,2022-04-05,5640,ABBEY ST @ MARLBOROUGH ST (LUAS),abbey st @ marlborough st (luas),CCITY,53.348754,-6.257607,SCATS Site